
.calendar {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    border-spacing: 5px 5px;
    border-collapse: separate;
    border-radius: 3px;
    font-family: Helvetica;
    font-size: 20px;
    background-color: none;
}
/* Заголовок */
.calendar th {
  font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-left: 10px;
    text-align: center;
    width: 26px;
    height: 20px;
    background: #D0D0D0;
    color: #0B265B;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
}
/* Заголовок праздника */
.calendar th.holiday {
  color: #EB5757;
}
/* Ячейка дня */
.calendar td {
    text-align: right;
    width: 150px;
    height: 120px;
    padding-right: 4px;
    border: 1px solid #FBFBFB;
    border-collapse: separate;
    border-radius: 7px;
    text-align: right;
    cursor: pointer;  font-size: 20px;
    background-color: #E7E7E7;
}
/* Затемненный день */
.calendar td.grayed {
  background: #C4C4C4;
  cursor: auto !important;
}
/* Выбранный день */
.calendar td.selected {
  background: #3E8CE0;
  color: #FFFFFF;
}
/* Праздничный день */
.calendar td.holiday {
  color: #EB5757;
}
/* Кнопки навигации */
.calendar td.navigation {
  text-align: center;
  border: 0px none !important;
  font-size: 30px;
  cursor: pointer;
  white-space: nowrap;        
}

.calendar-block {
    display: flex;
    justify-content:center;
    align-items: center;
    min-width: 1250px;
    min-height: 850px;
    border: 1px solid #D0D0D0;
    border-radius: 7px; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.calendar-plan-list {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 900px;
    border: 1px solid #D0D0D0;
    border-radius: 7px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.margintop10px {
    margin-top: 10px;
}

.after-calendar {
    display: block;
    width: 100%;
    height: 60px;
}