{% extends 'mainapp/base.html' %}
{% load static %}

{% block workspase %}
<div class="workspace3 clearfix">
   <div class="add-client-container">
       <form action="">
           <div class="addClientBlock">
           <label class="addClientLabel" for="clients-name">Имя</label><br>
            <input class="addClientInput" type="text" name="clients-name">    
               <label class="addClientLabel" for="staff-phone">Телефон</label><br>
               <input class="addClientInput number-field-staff-phone" type="number" name="staff-phone">
           </div>
           
    <div class="radio">
        <div class="form_radio_btn" onclick="rentBuy(); addClientRentBlock()">
	    <input id="tenant-client" type="radio" name="clients-add-filer" value="1" checked>
	    <label for="tenant-client">Снять</label>
            </div>
            
        <div class="form_radio_btn" onclick="leaseSell()">
	    <input id="landlord-client" type="radio" name="clients-add-filer" value="2">
	    <label for="landlord-client">Сдать</label>
            </div>
            
        <div class="form_radio_btn" onclick="rentBuy(); sellBlockSituation()">
        <input id="buyer-client" type="radio" name="clients-add-filer" value="3">
	    <label for="buyer-client">Купить</label>
            </div>
            
        <div class="form_radio_btn" onclick="leaseSell()">
        <input id="seller-client" type="radio" name="clients-add-filer" value="4">
	    <label for="seller-client">Продать</label>
            </div>
           </div>
           
    <div class="addClientBlock">
      <div class="radio">
        <div class="form_radio_btn" onclick="openResidentalBlock()">
	<input id="deal-form-realty-residential" type="radio" name="deal-form-type-realty" value="1" checked>
	<label for="deal-form-realty-residential">Жилую</label>
</div>
<div class="form_radio_btn" onclick="openComercialBlock()">
	<input id="deal-form-realty-comercial" type="radio" name="deal-form-type-realty" value="2">
	<label for="deal-form-realty-comercial">Коммерческую</label>
</div>
	</div>
  </div>
   
    <div class="radio" id="residental-realty-block-add-client">
        <div class="form_radio_btn" onclick="openResidentalFlatBlock()">
	    <input id="add-client-realty-flat" type="radio" name="add-clients-residental-realty-filer" value="1" checked>
	    <label for="add-client-realty-flat">Квартиру</label>
            </div>
            
        <div class="form_radio_btn" onclick="openResidentalSuburbanBlock()">
	    <input id="add-client-realty-house" type="radio" name="add-clients-residental-realty-filer" value="2">
	    <label for="add-client-realty-house">Дом</label>
            </div>
            
        <div class="form_radio_btn" onclick="openResidentalSuburbanBlock()">
        <input id="add-client-realty-mansion" type="radio" name="add-clients-residental-realty-filer" value="3">
	    <label for="add-client-realty-mansion">Коттедж</label>
            </div>
            
        <div class="form_radio_btn" onclick="openResidentalSuburbanBlock()">
        <input id="add-client-realty-townhouse" type="radio" name="add-clients-residental-realty-filer" value="4">
	    <label for="add-client-realty-townhouse">Таунхаус</label>
            </div>
        
        <div class="form_radio_btn" onclick="openResidentalSuburbanBlock()">
        <input id="add-client-realty-ground-area" type="radio" name="add-clients-residental-realty-filer" value="5">
	    <label for="add-client-realty-ground-area">Участок</label>
            </div>
           </div>
           
    <div style="margin-top: 10px;" id="flat-block-add-client">
    <label class="checkbox-btn"> 
	<input type="checkbox">
	<span>Студию</span>
        </label>
    <label class="checkbox-btn"> 
	<input type="checkbox">
	<span>1 ком. кв.</span>
        </label>
	
    <label class="checkbox-btn">
	<input type="checkbox">
	<span>2 ком. кв.</span>
        </label>
 
    <label class="checkbox-btn"> 
	<input type="checkbox">
	<span>3 ком. кв.</span>
        </label>
 
    <label class="checkbox-btn"> 
	<input type="checkbox">
	<span>4+ ком. кв.</span>
        </label>  
      </div>    
    
    <div class="radio" style="margin-top: 10px; display: none" id="comercial-realty-block-add-client">
        <div class="form_radio_btn">
	    <input id="add-client-realty-ofice" type="radio" name="add-clients-comercial-realty-filer" value="1" checked>
	    <label for="add-client-realty-ofice">Офис</label>
            </div>
            
        <div class="form_radio_btn">
	    <input id="add-client-realty-bilding" type="radio" name="add-clients-comercial-realty-filer" value="2">
	    <label for="add-client-realty-bilding">Здание</label>
            </div>
            
        <div class="form_radio_btn">
        <input id="add-client-realty-retail" type="radio" name="add-clients-comercial-realty-filer" value="3">
	    <label for="add-client-realty-retail">Торговая площадь</label>
            </div>
            
        <div class="form_radio_btn">
        <input id="add-client-realty-free-use" type="radio" name="add-clients-comercial-realty-filer" value="4">
	    <label for="add-client-realty-free-use">ПСН</label>
            </div>
        <div class="form_radio_btn">
        <input id="add-client-realty-industry" type="radio" name="add-clients-comercial-realty-filer" value="5">
	    <label for="add-client-realty-industry">Производство</label>
            </div>
        <div class="form_radio_btn">
        <input id="add-client-realty-warehouse" type="radio" name="add-clients-comercial-realty-filer" value="6">
	    <label for="add-client-realty-warehouse">Склад</label>
            </div>
        <div class="form_radio_btn">
        <input id="add-client-realty-parking" type="radio" name="add-clients-comercial-realty-filer" value="7">
	    <label for="add-client-realty-parking">Гараж</label>
            </div>
        <div class="form_radio_btn">
        <input id="add-client-realty-business" type="radio" name="add-clients-comercial-realty-filer" value="8">
	    <label for="add-client-realty-business">Готовый бизнес</label>
            </div>
        <div class="form_radio_btn">
        <input id="add-client-realty-commercial-land" type="radio" name="add-clients-comercial-realty-filer" value="9">
	    <label for="add-client-realty-commercial-land">Коммерческая земля</label>
            </div>
           </div>
           
          
   <div class="addClientBlock" style="display: none" id="add-client-object-adress">
       <label class="addClientLabel" for="working-comment">Адрес</label>
        <input class="addClientWorkingComment" type="text" name="working-comment">
       </div>
           
    <div class="addClientBlock">
          <div class="addClientBlock">
            <label class="addClientLabel" for="clients-price" id="rented-buy-budget-item">Бюджет до</label>
           <label class="addClientLabel" for="clients-price" style="display: none" id="landlord-seller-cost-item">Стоимость</label><br>
            <input class="addClientInput" type="text" name="clients-price">
            <span class="form-label-text">рублей</span> 
          </div>
          <div class="add-client-metroblock"   id="add-client-metro">
            <button class="metrobtn-clients"><img src="img/metro.png" alt=""> Метро</button>  
          </div>
             
         </div>
           
        <div class="radio" style="display: none; margin-bottom: 10px" id="add-client-situation">
        <div class="form_radio_btn">
	    <input id="add-client-free-money" type="radio" name="clients-add-situation" value="1" checked>
	    <label for="add-client-free-money">Свободные деньги</label>
            </div>
            
        <div class="form_radio_btn">
	    <input id="add-client-mortgage" type="radio" name="clients-add-situation" value="2">
	    <label for="add-client-mortgage">Ипотека</label>
            </div>
           </div>
              
        <div class="addClientBlock" id="add-client-rented-info">
            <label class="addClientLabel" for="clients-date">Дата заезда:</label>
            <input class=" addClientInput visit-form-date" type="date" name="clients-date">
               
            <label class="addClientLabel" for="count-of-residents">Состав</label>
            <input class="addClientInput" type="text" name="count-of-residents">
    
            </div> 
            <div style="margin-top: 10px;">
              <label class="addClientLabel" for="working-comment">Рабочий комментарий</label>
            <input class="addClientWorkingComment" type="text" name="working-comment">
            </div>           
            
            
        <select class="add-client-add-staff" name="add-client-add-staff">
          <option value="">Назначить сотрудника</option>
          <option value="1">Иванов</option>
          <option value="2">Петров</option>
          <option value="3">Сидоров</option>
          <option value="4">Павлова</option>
          <option value="5">Жежель</option>
          <option value="6">Густова</option>
            </select>
            
        <div style="margin-top: 20px;">
            <button id="button-add-client-submit" type="submit" class="button-submit" >Добавить</button>
            <button id="button-add-client-reset" type="reset" name="button2id" class="button-reset">Сбросить</button>
            </div>
              
       </form>
   </div>
   
</div>
    
<div class="before-footer"></div>
{% endblock workspase %}
    

{% block js %}

<script>

var residentalRealty = document.getElementById("residental-realty-block-add-client");
var comercialRealty = document.getElementById("comercial-realty-block-add-client");
var flatBlock = document.getElementById("flat-block-add-client");
var objectAdressBlock = document.getElementById("add-client-object-adress");
var budgetBlock = document.getElementById("rented-buy-budget-item");
var costBlock = document.getElementById("landlord-seller-cost-item");
var addClientRentedInfoBlock = document.getElementById("add-client-rented-info");
var addClientSituationBlock = document.getElementById("add-client-situation");

    
    
function openComercialBlock() {
    residentalRealty.style.display = "none"
    comercialRealty.style.display = "inline-block"
    flatBlock.style.display = "none"

}

function openResidentalBlock() {
    residentalRealty.style.display = "inline-block"
    comercialRealty.style.display = "none"
    flatBlock.style.display = "inline-block";
    document.getElementById('add-client-realty-house').checked = false;
    document.getElementById('add-client-realty-mansion').checked = false;
    document.getElementById('dd-client-realty-townhouse').checked = false;
    document.getElementById('add-client-realty-flat').checked = true;
    

}
    

    function openResidentalSuburbanBlock() {
        flatBlock.style.display = "none"
        suburbanBlock.style.display = "inline-block"
    }
    
    function openResidentalFlatBlock() {
        flatBlock.style.display = "inline-block"
    }
    
    
    function leaseSell() {
        budgetBlock.style.display = "none"
        costBlock.style.display = "flex"
        addClientRentedInfoBlock.style.display = "none"
        objectAdressBlock.style.display = "flex"
        addClientSituationBlock.style.display = "none"
        suburbanBlock.style.display = "none"
    }
    
    function rentBuy() {
        budgetBlock.style.display = "flex"
        costBlock.style.display = "none"
        objectAdressBlock.style.display = "none"
        
    }
    
    function sellBlockSituation() {
        addClientSituationBlock.style.display = "flex"
        addClientRentedInfoBlock.style.display = "none"
    }
    
    function addClientRentBlock() {
        budgetBlock.style.display = "flex"
        addClientRentedInfoBlock.style.display = "flex"
    }
    
</script>  
{% endblock js %}