{% extends 'mainapp/base.html' %}
{% load static %}

{% block workspase %}
<div class="workspace2 clearfix">
      <div class="people-buttons">
        <button class="clients-team-button-active">Клиенты</button>
        <button class="clients-team-buttons" onclick="location.href='{% url 'team' %}';">Команда</button>
      </div>
      
    <form action="">
    <div class="clients-block-filter">
        <div class="clients-filter">
        <div class="radio">
        <div class="form_radio_btn">
	    <input id="all-clients" type="radio" name="clients-filer" value="1">
	    <label for="all-clients">Все клиенты</label>
            </div>
        <div class="form_radio_btn">
	    <input id="clients-in-work" type="radio" name="clients-filer" value="2" checked>
	    <label for="clients-in-work">В работе</label>
            </div>
        <div class="form_radio_btn">
        <input id="clients-archive" type="radio" name="clients-filer" value="3">
	    <label for="clients-archive">Архив</label>
            </div>
           </div>
	    </div>
	    <div class="clients-select-staff">
            <select class="branch-staff-select" name="branch-staff-list">
            <option value="">Все отделения</option>
            <option value="1">Курская</option>
            <option value="2">Мытищи</option>
            <option value="3">Нахабино</option>
            <option value="4">Юго-западная</option>
            <option value="5">Парк победы</option>
            <option value="6">Домодедово</option>
                </select>
           
            <select class="branch-staff-select" name="department-staff-list">
            <option value="">Все отделы</option>
            <option value="1">Руководитель Павлова А.А.</option>
            <option value="2">Руководитель Мозговой Д.В.</option>
                </select>
            
            <select class="branch-staff-select" name="user-clients-list">
            <option value="">Все сотрудники</option>
            <option value="1">Иванов</option>
            <option value="2">Петров</option>
            <option value="3">Сидоров</option>
            <option value="4">Павлова</option>
            <option value="5">Жежель</option>
            <option value="6">Густова</option>
                </select> 
           </div>
    </div>
      
    
    <div class="clients-filter-base">
         
        <div class="clients-filter-request">
           
            <label class="checkbox-btn"> 
	        <input type="checkbox">
	        <span>Сдать</span>
            </label>
	
            <label class="checkbox-btn">
	        <input type="checkbox">
	        <span>Снять</span>
                </label>
 
            <label class="checkbox-btn"> 
            <input type="checkbox">
	        <span>Купить</span>
                </label>
 
            <label class="checkbox-btn"> 
	        <input type="checkbox">
	        <span>Продать</span>
                </label>
              </div>
              
               <div class="">
              <label class="form-label-text" for="price">Бюджет:</label>  
              <input id="price" name="price" type="number" placeholder="от" class="number-field-price object-filter-form-imput">
              <input id="price" name="price" type="number" placeholder="до" class="number-field-price object-filter-form-imput">
               <span class="form-label-text">руб.</span>
                  </div>  
              
            <button class="metrobtn-clients"><img src="{% static 'img/metro.png' %}" alt=""> Метро</button>
       
       
       <div class="submit-reset-button clients-srb">
        <button id="button1id" type="submit" class="button-submit" >Найти</button>
        <button id="button2id" type="reset" name="button2id" class="button-reset">Сбросить</button> 
      </div> 
    </div>  
      
        
    </form>  
    
<div class="clients-container">
   
<div class="clients-block">
            <span class="clients-span clients-name">Иван Васильевич</span>
            <span class="clients-span phone-block">+7(968) 712 87 65</span>
            <span class="clients-span clients-request">Снять</span>
            <span class="clients-span clients-object">1 ком. кв.</span>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color arbatsko-pokrovskaya"></span></div>
                <div class="metro-title"><span class="">Курская</span></div></div>
                <div class="metro-block"><div><span class="metro-color ring-line"></span></div>
                <div class="metro-title"><span class="">Курская</span></div></div>
                <div class="metro-block"><div><span class="metro-color lyublinskaya"></span></div>
                <div class="metro-title"><span class="">Чкаловская</span></div></div>

            </div>
            <span class="clients-span clients-cost">до 150000 р.</span>
            <span class="clients-span clients-tenants">СП+ 2 детей. Питер.</span>
            <span class="clients-span clients-working-comment">3 ком кв. в ЖК. Окна во двор. Не первый этаж.</span>
            <div class="clients-menu">
               <img src="{% static 'img/menu-icon.svg' %}" alt="" onmouseover="this.src='{% static 'img/menu-icon_hover.svg' %}';" onmouseout="this.src='img/menu-icon.svg';">
            </div>
        </div>
        
<div class="clients-block">
            <span class="clients-span clients-name">Александр Станиславович</span>
            <span class="clients-span phone-block">+7(968) 712 87 65</span>
            <span class="clients-span clients-request">Сдать</span>
            <span class="clients-span clients-object">Дом</span>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color tagansko-krasnopresnenskaya"></span></div>
                <div class="metro-title"><span class="">ул. 1905 года</span></div></div>
            </div>
            <span class="clients-span clients-cost">130000 р.</span>
            <span class="clients-span clients-address">Земляной вал, дом 35</span>
            <span class="clients-span clients-working-comment">Желательно семью</span>
            <div class="clients-menu">
              <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">  
            </div>
        </div>
        
<div class="clients-block">
            <span class="clients-span clients-name">Иван</span>
            <span class="clients-span phone-block">+7(968) 712 87 65</span>
            <span class="clients-span clients-request">Продать</span>
            <span class="clients-span clients-object">Земля</span>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color arbatsko-pokrovskaya"></span></div>
                <div class="metro-title"><span class="">Курская</span></div></div>
                <div class="metro-block"><div><span class="metro-color ring-line"></span></div>
                <div class="metro-title"><span class="">Курская</span></div></div>
                <div class="metro-block"><div><span class="metro-color lyublinskaya"></span></div>
                <div class="metro-title"><span class="">Чкаловская</span></div></div>

            </div>
            <span class="clients-span clients-cost">12000000 р.</span>
            <span class="clients-span clients-address">Потапов переулок, дом 14</span>
            <span class="clients-span clients-working-comment">Нужно продать и купить</span>
            <div class="clients-menu">
             <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">  
            </div>
        </div>
        
<div class="clients-block">
            <span class="clients-span clients-name">Игорь Анатольевич</span>
            <span class="clients-span phone-block">+7(968) 712 87 65</span>
            <span class="clients-span clients-request">Купить</span>
            <span class="clients-span clients-object">2 ком. кв.</span>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color kalininskaya"></span></div>
                <div class="metro-title"><span class="">Авиамоторная</span></div></div>
            </div>
            <span class="clients-span clients-cost">до 150000 р.</span>
            <span class="clients-span clients-situation">Ипотека, мат. капитал.</span>
            <span class="clients-span clients-working-comment">3 ком кв. в ЖК. Окна во двор. Не первый этаж.</span>
            <div class="clients-menu">
              <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">  
            </div>
        </div>
        
<div class="clients-block">
            <span class="clients-span clients-name">Иван</span>
            <span class="clients-span phone-block">+7(968) 712 87 65</span>
            <span class="clients-span clients-request">Снять</span>
            <span class="clients-span clients-object">3 ком. кв.</span>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color zamoskvoretskaya"></span></div>
                <div class="metro-title"><span class="">Павелецкая</span></div></div>
                <div class="metro-block"><div><span class="metro-color ring-line"></span></div>
                <div class="metro-title"><span class="">Павелецкая</span></div></div>

            </div>
            <span class="clients-span clients-cost">до 150000 р.</span>
            <span class="clients-span clients-tenants">СП+ 2 детей. Питер. Собака.</span>
            <span class="clients-span clients-working-comment">3 ком кв. в ЖК. Окна во двор. Не первый этаж.</span>
            <div class="clients-menu">
              <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">  
            </div>
        </div>
        
<div class="clients-block">
            <span class="clients-span clients-name">Иван</span>
            <span class="clients-span phone-block">+7(968) 712 87 65</span>
            <span class="clients-span clients-request">Снять</span>
            <span class="clients-span clients-object">2 ком. кв.</span>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color sokolnicheskaya"></span></div>
                <div class="metro-title"><span class="">Саларьево</span></div></div>
            </div>
            <span class="clients-span clients-cost">до 80000 р.</span>
            <span class="clients-span clients-tenants">СП+ 2 детей. Питер.</span>
            <span class="clients-span clients-working-comment">3 ком кв. в ЖК. Окна во двор. Не первый этаж.</span>
            <div class="clients-menu">
              <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">  
            </div>
        </div>
    
</div>
   
<div class="before-footer"></div>
         
    </div>
{% endblock workspase %}
    
