{% extends 'mainapp/base.html' %}
{% load static %}

{% block workspase %}
<div class="workspace2 clearfix">
    <div class="deal-card-block">
    <form action="">
    
    <div class="deal-card-staff-select">
       <select class="branch-staff-select" name="user-clients-list" required="required">
            <option value="">Выберите сотрудника</option>
            <option value="1">Иванов</option>
            <option value="2">Петров</option>
            <option value="3">Сидоров</option>
            <option value="4">Павлова</option>
            <option value="5">Жежель</option>
            <option value="6">Густова</option>
                </select> 
    </div>
    
    <div class="deal-form-date">
  <label class="form-label-text" for="">Дата сделки:</label>  
  <div class="form-date">
  <input id="" name="" type="date" placeholder="" class="visit-form-imput visit-form-date" autocomplete="on">    
  </div>
  </div>
  
<div class="deal-card-form-type-deal">
      <label class="form-label-text" for="radios">Тип сделки:</label>
      <div class="radio">
        <div class="form_radio_btn" id="deal-card-rent-button" onclick="openRentBlock()">
	    <input id="deal-card-type-rent" type="radio" name="deal-card-type" value="1" checked>
	    <label for="deal-card-type-rent">Аренда</label>
            </div>
        <div class="form_radio_btn" id="deal-card-sale-button" onclick="openSaleBlock()">
	    <input id="deal-card-type-sale" type="radio" name="deal-card-type" value="2" >
	    <label for="deal-card-type-sale">Купля-продажа</label>
            </div>
	    </div>
      </div>
      
<div class="deal-form-client">
<label class="form-label-text" for="radios-client">Клиент компании:</label>
  <div class="radio">
    <div class="form_radio_btn sale" id="deal-card-button-seller" style="display: none" onclick="openObjectsBlock()">
	<input id="deal-form-client-seller" type="radio" name="deal-form-client" value="1">
	<label for="deal-form-client-seller">Продавец</label>
</div>
<div class="form_radio_btn sale" id="deal-card-button-buyer" style="display: none" onclick="openAdressBlock()">
	<input id="deal-form-client-buyer" type="radio" name="deal-form-client" value="2">
	<label for="deal-form-client-buyer">Покупатель</label>
</div>
<div class="form_radio_btn rent" id="deal-card-button-landlord" onclick="openObjectsBlock()">
	<input id="deal-form-client-landlord" type="radio" name="deal-form-client" value="3" checked>
	<label for="deal-form-client-landlord">Собственник</label>
</div>
<div class="form_radio_btn rent" id="deal-card-button-employer" onclick="openAdressBlock()">
	<input id="deal-form-client-employer" type="radio" name="deal-form-client" value="4">
	<label for="deal-form-client-employer">Арендатор</label>
</div>
   </div>
	</div>
      
<div class="deal-form-type-realty">
  <label class="form-label-text" for="radios">Тип недвижимости:</label>
  <div class="radio">
    <div class="form_radio_btn" onclick="openResidental()">
	<input id="deal-form-realty-residential" type="radio" name="deal-form-type-realty" value="1" checked>
	<label for="deal-form-realty-residential">Жилая</label>
</div>
<div class="form_radio_btn" onclick="openComercial()">
	<input id="deal-form-realty-comercial" type="radio" name="deal-form-type-realty" value="2">
	<label for="deal-form-realty-comercial">Коммерческая</label>
</div>
	</div>
  </div>
      
<div class="form-group">
    <label class="form-label-text" for="commission">Наша комиссия:</label>
    <input id="commission" name="commission" class="number-field-price visit-form-imput-text visit-form-imput" placeholder="" type="number">
    <span class="form-label-text number-field">рублей.</span>
    </div>
     
<div class="form-group">
 <p class="form-label-text">Кто оплатил:</p>
  <div class="rent" id="deal-card-rent">
  <label class="checkbox-btn">
	<input type="checkbox">
	<span>Собственник</span>
</label>
    <input id="appendedtext" name="appendedtext" class="visit-form-imput number-field" placeholder="" type="number">
      <span class="form-label-text">%</span>
      
      <label class="checkbox-btn">
	<input type="checkbox">
	<span>Арендатор</span>
</label>
    <input id="appendedtext" name="appendedtext" class="visit-form-imput number-field" placeholder="" type="number">
      <span class="form-label-text">%</span>    
  </div>
  <div class="sale" id="deal-card-sale" style="display: none">
      <label class="checkbox-btn">
	<input type="checkbox">
	<span>Продавец</span>
</label>
    <input id="appendedtext" name="appendedtext" class="visit-form-imput number-field" placeholder="" type="number">
      <span class="form-label-text">%</span>
      
      <label class="checkbox-btn">
	<input type="checkbox">
	<span>Покупатель</span>
</label>
    <input id="appendedtext" name="appendedtext" class="visit-form-imput number-field" placeholder="" type="number">
      <span class="form-label-text">%</span>
     </div>
	</div>
	
<div class="deal-card-object-select" id="deal-card-object-select">
<label class="form-group form-label-text" for="user-object-list">Объект:</label><br>
<select class="visit-form-objectselect" name="user-object-list">
  <option value="">Выберите объект</option>
  <option value="1">Первый объект</option>
  <option value="2">Второй объект</option>
  <option value="3">Третий объект</option>
  <option value="4">Четвертый объект</option>
  <option value="5">Пятый объект</option>
  <option value="6">Шестой объект</option>
</select>
</div>
  
<div class="deal-form-object-adress" id="deal-adress-block" style="display: none">
  <label class="form-label-text" for="textinput">Адрес объекта:</label><br>
  <label class="form-label-text" for="city">г.</label>
  <input id="city" name="city" type="text" placeholder="" class="visit-form-imput-text visit-form-imput">
  <label class="form-label-text" for="street">ул.</label>
  <input id="street" name="street" type="text" placeholder="" class="visit-form-street visit-form-imput">
   <label class="form-label-text number-field" for="house">д.</label>
  <input id="house" name="house" type="number" placeholder="" class="visit-form-imput number-field">
  <label class="form-label-text number-field" for="building">к.</label>
  <input id="building" name="building" type="number" placeholder="" class="visit-form-imput number-field">
  <label class="form-label-text number-field" for="edifice">стр.</label>
  <input id="edifice" name="edifice" type="number" placeholder="" class="visit-form-imput number-field">
  <label class="form-label-text" for="floor">этаж</label> 
  <input id="floor" name="floor" type="number" placeholder="" class="visit-form-imput number-field">
  </div>
  <br>
<div class="form-group">
  <label class="form-label-text" for="entrance">подъезд</label>  
  <input id="entrance" name="entrance" type="number" placeholder="" class="visit-form-imput number-field">
  <label class="form-label-text" for="doorphone">домофон</label>  
  <input id="doorphone" name="doorphone" type="text" placeholder="" class="visit-form-imput-text visit-form-imput">
  
  <div id="deal-card-flat" style="display: inline-block">
    <label class="form-label-text" for="flat">кв.</label>
  <input id="flat" name="flat" type="number" placeholder="" class="visit-form-imput number-field">
  </div>
  
  <div id="deal-card-room" style="display: none">
    <label class="form-label-text" for="room">пом.</label>
  <input id="room" name="room" type="number" placeholder="" class="visit-form-imput number-field">  
  </div>
  
  </div>
   
<div class="deal-card-submit-reset" >
    <button id="button1id" type="submit" class="button-submit" >Подтвердить</button>
    <button id="button2id" type="reset" name="button2id" class="button-reset" onclick="openResidental(); openObjectsBlock(); openRentBlock()">Сбросить</button>
  </div>
    
</form>
</div>
        
        
</div>
    
<div class="before-footer"></div>
{% endblock workspase %}

{% block js %}
<script>

var sellerButton = document.getElementById('deal-card-button-seller');
var buyerButton = document.getElementById('deal-card-button-buyer');
var landlordButton = document.getElementById('deal-card-button-landlord');
var employerButton = document.getElementById('deal-card-button-employer');
var dealCardRentBlock = document.getElementById('deal-card-rent');
var dealCardSaleBlock = document.getElementById('deal-card-sale');
var adressBlock = document.getElementById('deal-adress-block');
var objectsBlock = document.getElementById('deal-card-object-select');
var dealFlatBlock = document.getElementById('deal-card-flat');
var dealRoomBlock = document.getElementById('deal-card-room');

function openSaleBlock() {
    sellerButton.style.display = 'inline-block';
    buyerButton.style.display = 'inline-block';
    landlordButton.style.display = 'none';
    employerButton.style.display = 'none';
    dealCardRentBlock.style.display = 'none'
    dealCardSaleBlock.style.display = 'inline-block';  
};
    
function openRentBlock() {
    sellerButton.style.display = 'none';
    buyerButton.style.display = 'none';
    landlordButton.style.display = 'inline-block';
    employerButton.style.display = 'inline-block';
    dealCardRentBlock.style.display = 'inline-block';
    dealCardSaleBlock.style.display = 'none';  
};


function openAdressBlock() {
    adressBlock.style.display = 'inline-block';
    objectsBlock.style.display = 'none';
};

function openObjectsBlock() {
    adressBlock.style.display = 'none';
    objectsBlock.style.display = 'inline-block';
    objectsBlock.style.width = '80%';
    objectsBlock.style.marginBottom = '18px';
}
    
function openComercial() {
    dealFlatBlock.style.display = 'none';
    dealRoomBlock.style.display = 'inline-block';
}
    
function openResidental() {
    dealFlatBlock.style.display = 'inline-block';
    dealRoomBlock.style.display = 'none';
}

</script>
{% endblock js %}