{% extends 'mainapp/base.html' %}
{% load static %}

{% block workspase %}
<div class="workspace clearfix">
        <div class="block" onmouseover="blockSetOfRulesHover()" onmouseout="blockSetOfRulesOut()"><a href="#" class="block-icon"><img id="set_of_rules_img" class="block-img" src="{% static 'img/set_of_rules.png' %}"  alt="Кодекс"></a><p id="set_of_rules_text" class="block-text">Кодекс</p></div>
        <div class="block" onmouseover="blockCompanyDocumentsHover()" onmouseout="blockCompanyDocumentsOut()"><a href="#" class="block-icon"><img id="company_documents_img" class="block-img" src="{% static 'img/company_documents.png' %}" alt="Документы компании"></a><p id="company_documents_text" class="block-text">Документы компании</p></div>
        <div class="block" onmouseover="blockRealtyDocumentsHover()" onmouseout="blockRealtyDocumentsOut()"><a href="#" class="block-icon"><img id="realty_documents_img" class="block-img" src="{% static 'img/realty_documents.png' %}" alt="Документы на недвижимость"></a><p id="realty_documents_text" class="block-text-big">Документы на недвижимость</p></div>
        <div class="clr2 clearfix"></div>
    </div>
{% endblock workspase %}

{% block js %}

<script>
var block_img_set_of_rules = document.getElementById("set_of_rules_img");
var block_img_company_documents = document.getElementById("company_documents_img");
var block_img_realty_documents = document.getElementById("realty_documents_img");
    
var block_text_set_of_rules = document.getElementById("set_of_rules_text");
var block_text_company_documents = document.getElementById("company_documents_text");
var block_text_realty_documents = document.getElementById("realty_documents_text"); 
    

function blockSetOfRulesHover() {
    block_img_set_of_rules.src = '{% static 'img/set_of_rules_hover.png' %}'
    block_text_set_of_rules.style.color = "#3E8CE0"
 };
    
function blockSetOfRulesOut() {
    block_img_set_of_rules.src = '{% static 'img/set_of_rules.png' %}'
    block_text_set_of_rules.style.color = "white"
 }; 
    
 function blockCompanyDocumentsHover() {
    block_img_company_documents.src = '{% static 'img/company_documents_hover.png' %}'
    block_text_company_documents.style.color = "#3E8CE0"
 };
    
function blockCompanyDocumentsOut() {
    block_img_company_documents.src = '{% static 'img/company_documents.png' %}'
    block_text_company_documents.style.color = "white"
 };    

function blockRealtyDocumentsHover() {
    block_img_realty_documents.src = '{% static 'img/realty_documents_hover.png' %}'
    block_text_realty_documents.style.color = "#3E8CE0"
 };
    
function blockRealtyDocumentsOut() {
    block_img_realty_documents.src = '{% static 'img/realty_documents.png' %}'
    block_text_realty_documents.style.color = "white"
 };  
    
</script>    
{% endblock js %}