{% extends 'mainapp/base.html' %}
{% load static %}

{% block workspase %}
<div class="workspace clearfix">
    <div class="block" onmouseover="blockLearningHover()" onmouseout="blockLearningOut()"><a href="#" class="block-icon"><img id="learning_img" class="block-img" src="{% static 'img/learning.png' %}"  alt="Обучение"></a><p id="learning_text" class="block-text">Обучение</p></div>
    <div class="block" onmouseover="blockPresentationHover()" onmouseout="blockPresentationOut()" ><a href="#" class="block-icon"><img id="presentation_img" class="block-img" src="{% static 'img/presentation.png' %}" alt="Презентации"></a><p id="presentation_text" class="block-text">Презентации</p></div>
    <div class="block" onmouseover="blockScriptHover()" onmouseout="blockScriptOut()"><a href="#" class="block-icon"><img id="script_img" class="block-img" src="{% static 'img/script.png' %}" alt="Скрипт продаж"></a><p id="script_text" class="block-text">Скрипт продаж</p></div>
    <div class="clr2 clearfix"></div>
    </div>
{% endblock workspase %}

{% block js %}

<script>
var block_img_learning = document.getElementById("learning_img");
var block_img_presentation = document.getElementById("presentation_img");
var block_img_script = document.getElementById("script_img");
    
var block_text_learning = document.getElementById("learning_text");
var block_text_presentation = document.getElementById("presentation_text");
var block_text_script = document.getElementById("script_text"); 
    

function blockLearningHover() {
    block_img_learning.src = '{% static 'img/learning_hover.png' %}'
    block_text_learning.style.color = "#3E8CE0"
 };
    
function blockLearningOut() {
    block_img_learning.src = '{% static 'img/learning.png' %}'
    block_text_learning.style.color = "white"
 }; 
    
 function blockPresentationHover() {
    block_img_presentation.src = '{% static 'img/presentation_hover.png' %}'
    block_text_presentation.style.color = "#3E8CE0"
 };
    
function blockPresentationOut() {
    block_img_presentation.src = '{% static 'img/presentation.png' %}'
    block_text_presentation.style.color = "white"
 };    

function blockScriptHover() {
    block_img_script.src = '{% static 'img/script_hover.png' %}'
    block_text_script.style.color = "#3E8CE0"
 };
    
function blockScriptOut() {
    block_img_script.src = '{% static 'img/script.png' %}'
    block_text_script.style.color = "white"
 };  
    
</script>
{% endblock js %}