{% extends 'mainapp/base.html' %}
{% load static %}

{% block workspase %}
<div class="workspace-realty">
     
<div class="objects-filter" id="object-filters" >
<form action="" class="object-filter-form">
<div class="object-id-search">
<input id="objects-id" name="objects-id" type="number" placeholder="id объекта" class="object-filter-form-imput"></div>

<div class="">
  <div class="radio">
    <div class="form_radio_btn">
	<input id="all-realty-objects" type="radio" name="objects-filer" value="1">
	<label for="all-realty-objects">Вся недвижимость</label>
</div>
<div class="form_radio_btn">
	<input id="objects-in-work" type="radio" name="objects-filer" value="2" checked>
	<label for="objects-in-work">В работе</label>
</div>
<div class="form_radio_btn">
	<input id="objects-archive" type="radio" name="objects-filer" value="3">
	<label for="objects-archive">Архив</label>
</div>
   </div>
	</div>
	
	<div class="objects-filter-type-deal">
    <label class="checkbox-btn">
	<input type="checkbox" checked>
	<span>Аренда</span>
        </label>
	
    <label class="checkbox-btn">
	<input type="checkbox" checked>
	<span>Продажа</span>
        </label>
      </div>

<div class="object-filter-base" >
      
    <div class="">
      <label class="form-label-text" for="price">Цена:</label>  
      <input id="price" name="price" type="number" placeholder="от" class="number-field-price object-filter-form-imput">
      <input id="price" name="price" type="number" placeholder="до" class="number-field-price object-filter-form-imput">
       <span class="form-label-text">руб.</span>
      </div>
      
    <div class=""><button class="metrobtn"><img src="{% static 'img/metro.png' %}" alt=""> Метро</button></div>
      
    <div class="form-objectselect">
        <select class="branch-staff-select" name="branch-staff-list">
            <option value="">Все отделения</option>
            <option value="1">Курская</option>
            <option value="2">Мытищи</option>
            <option value="3">Нахабино</option>
            <option value="4">Юго-западная</option>
            <option value="5">Парк победы</option>
            <option value="6">Домодедово</option>
            </select>
           
        <select class="branch-staff-select" name="department-staff-list">
            <option value="">Все отделы</option>
            <option value="1">Руководитель Павлова А.А.</option>
            <option value="2">Руководитель Мозговой Д.В.</option>
            </select>
        
        <select class="object-staff-select" name="user-object-list">
            <option value="">Все сотрудники</option>
            <option value="1">Иванов</option>
            <option value="2">Петров</option>
            <option value="3">Сидоров</option>
            <option value="4">Павлова</option>
            <option value="5">Жежель</option>
            <option value="6">Густова</option>
            </select>
    </div>
    
</div>
                  
<div id="object-filter-additional" class="object-filter-additional" style="display: none">
    
    <div class="object-additional-info">
      <div class="radio">
    <div class="form_radio_btn" onclick="openResidentalBlock()">
	<input id="object-deal-form-realty-residential" type="radio" name="object-deal-form-type-realty" value="1" checked>
	<label for="object-deal-form-realty-residential">Жилая</label>
        </div>
        
    <div class="form_radio_btn" onclick="openComercialBlock()">
	<input id="object-deal-form-realty-comercial" type="radio" name="object-deal-form-type-realty" value="2">
	<label for="object-deal-form-realty-comercial">Коммерческая</label>
        </div>
	   </div>
	   
	<div class="radio" id="residental-realty-block-add-client">
        <div class="form_radio_btn" onclick="openResidentalFlatBlock()">
	    <input id="add-client-realty-flat" type="radio" name="add-clients-residental-realty-filer" value="1" checked>
	    <label for="add-client-realty-flat">Квартира</label>
            </div>
            
        <div class="form_radio_btn" onclick="openResidentalSuburbanBlock()">
	    <input id="add-client-realty-house" type="radio" name="add-clients-residental-realty-filer" value="2">
	    <label for="add-client-realty-house">Дом</label>
            </div>
            
        <div class="form_radio_btn" onclick="openResidentalSuburbanBlock()">
        <input id="add-client-realty-mansion" type="radio" name="add-clients-residental-realty-filer" value="3">
	    <label for="add-client-realty-mansion">Коттедж</label>
            </div>
            
        <div class="form_radio_btn" onclick="openResidentalSuburbanBlock()">
        <input id="add-client-realty-townhouse" type="radio" name="add-clients-residental-realty-filer" value="4">
	    <label for="add-client-realty-townhouse">Таунхаус</label>
            </div>
        
        <div class="form_radio_btn" onclick="openResidentalSuburbanBlock()">
        <input id="add-client-realty-ground-area" type="radio" name="add-clients-residental-realty-filer" value="5">
	    <label for="add-client-realty-ground-area">Участок</label>
            </div>
           </div>
           
    <div style="margin-top: 10px;" id="flat-block-add-client">
    <label class="checkbox-btn"> 
	<input type="checkbox">
	<span>Студия</span>
        </label>
    <label class="checkbox-btn"> 
	<input type="checkbox">
	<span>1 ком. кв.</span>
        </label>
	
    <label class="checkbox-btn">
	<input type="checkbox">
	<span>2 ком. кв.</span>
        </label>
 
    <label class="checkbox-btn"> 
	<input type="checkbox">
	<span>3 ком. кв.</span>
        </label>
 
    <label class="checkbox-btn"> 
	<input type="checkbox">
	<span>4+ ком. кв.</span>
        </label>  
      </div>    
    
    <div class="radio" style="margin-top: 10px; display: none" id="comercial-realty-block-add-client">
        <div class="form_radio_btn">
	    <input id="add-client-realty-ofice" type="radio" name="add-clients-comercial-realty-filer" value="1" checked>
	    <label for="add-client-realty-ofice">Офис</label>
            </div>
            
        <div class="form_radio_btn">
	    <input id="add-client-realty-bilding" type="radio" name="add-clients-comercial-realty-filer" value="2">
	    <label for="add-client-realty-bilding">Здание</label>
            </div>
            
        <div class="form_radio_btn">
        <input id="add-client-realty-retail" type="radio" name="add-clients-comercial-realty-filer" value="3">
	    <label for="add-client-realty-retail">Торговая площадь</label>
            </div>
            
        <div class="form_radio_btn">
        <input id="add-client-realty-free-use" type="radio" name="add-clients-comercial-realty-filer" value="4">
	    <label for="add-client-realty-free-use">ПСН</label>
            </div>
        <div class="form_radio_btn">
        <input id="add-client-realty-industry" type="radio" name="add-clients-comercial-realty-filer" value="5">
	    <label for="add-client-realty-industry">Производство</label>
            </div>
        <div class="form_radio_btn">
        <input id="add-client-realty-warehouse" type="radio" name="add-clients-comercial-realty-filer" value="6">
	    <label for="add-client-realty-warehouse">Склад</label>
            </div>
        <div class="form_radio_btn">
        <input id="add-client-realty-parking" type="radio" name="add-clients-comercial-realty-filer" value="7">
	    <label for="add-client-realty-parking">Гараж</label>
            </div>
        <div class="form_radio_btn">
        <input id="add-client-realty-business" type="radio" name="add-clients-comercial-realty-filer" value="8">
	    <label for="add-client-realty-business">Готовый бизнес</label>
            </div>
        <div class="form_radio_btn">
        <input id="add-client-realty-commercial-land" type="radio" name="add-clients-comercial-realty-filer" value="9">
	    <label for="add-client-realty-commercial-land">Коммерческая земля</label>
            </div>
           </div>
           
        <div class="" style="margin-top: 10px">
      <label class="form-label-text" for="price">S:</label>  
      <input style="width: 90px" id="" name="" type="number" placeholder="от" class="number-field-price object-filter-form-imput">
      <input style="width: 90px" id="" name="" type="number" placeholder="до" class="number-field-price object-filter-form-imput">
       <span class="form-label-text">м2</span>
      </div>  
    
    </div>
    
    <div class="object-additional-info-marketing">
    
    <div class="">
       <div class="marketingBlock">
    <img src="{% static 'img/company_site_logo.svg' %}" alt="" style="margin-right: 10px; margin-top: 10px;">
    <div class="radio" >
    <div class="form_radio_btn" onclick="lnovaBasicImgChange()">
	<input id="lnova-basic" type="radio" name="lnova-marketing" value="1">
	<label for="lnova-basic"><img id="img-lnova-basic" class="img-icon" src="{% static 'img/lnova_marketing.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="lnovaTopImgChange()">
	<input id="lnova-top" type="radio" name="lnova-marketing" value="2">
	<label for="lnova-top"><img id="img-lnova-top" class="img-icon" src="{% static 'img/Lnova_marketing_top.svg' %}" alt=""></label>
        </div>
      </div>    
    </div>
    
    <div class="marketingBlock">
    <img src="{% static 'img/cian_logo.svg' %}" alt="" style="margin-right: 12px; margin-top: 10px;">
    <div class="radio">
    <div class="form_radio_btn" onclick="changeImgCianPay()">
	<input id="cian-basic" type="radio" name="cian-marketing" value="1">
	<label for="cian-basic"><img id="img-cian-pay" class="img-icon" src="{% static 'img/cian_pay.svg' %}" alt="" ></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgCianPremium()">
	<input id="cian-premium" type="radio" name="cian-marketing" value="2">
	<label for="cian-premium"><img id="img-cian-premium" class="img-icon" src="{% static 'img/cian_premium.svg' %}" alt="" ></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgCianTop()">
	<input id="cian-top" type="radio" name="cian-marketing" value="3">
	<label for="cian-top"><img id="img-cian-top" class="img-icon" src="{% static 'img/cian_top.svg' %}" alt="" ></label>
        </div>
      </div>
      
    <div class="" style="margin-left: 78px">
    <label  class="checkbox-btn" >
	<input onchange="changeImgCianAuction()" id="cian-auction-checkbox" type="checkbox">
	<span style="width: 34px;"><img style="margin-left: 7px" id="img-cian-auction" class="img-icon" src="{% static 'img/cian_auction.svg' %}" alt="" ></span>
        </label> 

    
	
    <label class="checkbox-btn">
	<input onchange="changeImgCianColor()" id="cian-color-checkbox" type="checkbox">
	<span style="width: 34px;"><img style="margin-left: 7px" id="img-cian-color" class="img-icon" src="{% static 'img/cian_color.svg' %}" alt="" ></span>
        </label>
      </div>
    </div>
    
    <div class="marketingBlock">
    <img src="{% static 'img/avito_logo.svg' %}" alt="" style="margin-right: 10px; margin-top: 10px;">
    <div class="radio">
    <div class="form_radio_btn" onclick="avitoPayImgChange()">
	<input id="avito-basic" type="radio" name="avito-marketing" value="1">
	<label for="avito-basic"><img id="avito-pay" class="img-icon" src="{% static 'img/avito_pay.svg' %}" alt="" ></label>
        </div>
    <div class="form_radio_btn" onclick="avitoX2ImgChange()">
	<input id="avito-x2" type="radio" name="avito-marketing" value="2">
	<label for="avito-x2"><img id="avito-x2-img" class="img-icon" src="{% static 'img/avitoX2.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="avitoX5ImgChange()">
	<input id="avito-x5" type="radio" name="avito-marketing" value="3">
	<label for="avito-x5"><img id="avito-x5-img" class="img-icon" src="{% static 'img/avitoX5.svg' %}" alt="" ></label>
        </div>
    <div class="form_radio_btn" onclick="avitoX10ImgChange()">
	<input id="avito-x10" type="radio" name="avito-marketing" value="3">
	<label for="avito-x10"><img id="avito-x10-img" class="img-icon" src="{% static 'img/avitoX10.svg' %}" alt="" ></label>
        </div>
      </div>
      
       <div class="" style="margin-left: 10px">
    <label  class="checkbox-btn" >
	<input onchange="changeImgAvitoXl()" id="avito-xl-checkbox" type="checkbox">
	<span style="width: 34px;"><img style="margin-left: 7px" id="img-avito-xl" class="img-icon" src="{% static 'img/avito_xl.svg' %}" alt="" ></span>
        </label> 

    <label class="checkbox-btn">
	<input onchange="changeImgAvitoColor()" id="avito-color-checkbox" type="checkbox">
	<span style="width: 34px;"><img style="margin-left: 7px" id="img-avito-color" class="img-icon" src="{% static 'img/avito_color.svg' %}" alt="" ></span>
        </label>
        
        <label class="checkbox-btn">
	<input onchange="changeImgAvitoDomofond()" id="avito-domofond-premium-checkbox" type="checkbox">
	<span style="width: 34px;"><img style="margin-left: 7px" id="img-avito-domofond" class="img-icon" src="{% static 'img/avito_domofond_premium.svg' %}" alt="" ></span>
        </label>
      </div>       
    </div>
    
     <div class="marketingBlock">
    <img src="{% static 'img/yandex_realty_logo.svg' %}" alt="" style="margin-right: 10px; margin-top: 10px;">
    <div class="radio">
    <div class="form_radio_btn" onclick="changeImgYandexPay()">
	<input id="yandex-basic" type="radio" name="yandex-marketing" value="1">
	<label for="yandex-basic"><img id="img-yandex-pay" class="img-icon" src="{% static 'img/yandex_pay.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgYandexUp()">
	<input id="yandex-up" type="radio" name="yandex-marketing" value="2">
	<label for="yandex-up"><img id="img-yandex-up" class="img-icon" src="{% static 'img/yandex_up.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgYandexPremium()">
	<input id="yandex-premium" type="radio" name="yandex-marketing" value="3">
	<label for="yandex-premium"><img id="img-yandex-premium" class="img-icon" src="{% static 'img/yandex_premium.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgYandexTop()">
	<input id="yandex-top" type="radio" name="yandex-marketing" value="3">
	<label for="yandex-top"><img id="img-yandex-top" class="img-icon" src="{% static 'img/yandex_top.svg' %}" alt=""></label>
        </div>
      </div>    
    </div>  
    </div>
    <div class="">
    <div class="marketingBlock">
    <img src="{% static 'img/youla_logo.svg' %}" alt="" style="margin-right: 10px; margin-top: 10px;">
    <div class="radio" >
    <div class="form_radio_btn" onclick="changeImgYoulaPay()">
	<input id="youla-basic" type="radio" name="youla-marketing" value="1">
	<label for="youla-basic"><img id="img-youla-basic" class="img-icon" src="{% static 'img/youla_basic.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgYoulaUp()">
	<input id="youla-up" type="radio" name="youla-marketing" value="2">
	<label for="youla-up"><img id="img-youla-up" class="img-icon" src="{% static 'img/youla_up.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgYoulaTurbo()">
	<input id="youla-turbo" type="radio" name="youla-marketing" value="3">
	<label for="youla-turbo"><img id="img-youla-turbo" class="img-icon" src="{% static 'img/youla_turbo.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgYoulaPremium()">
	<input id="youla-premium" type="radio" name="youla-marketing" value="4">
	<label for="youla-premium"><img id="img-youla-premium" class="img-icon" src="{% static 'img/youla_premium.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgYoulaMaximum()">
	<input id="youla-maximum" type="radio" name="youla-marketing" value="5">
	<label for="youla-maximum"><img id="img-youla-maximum" class="img-icon" src="{% static 'img/youla_maximum.svg' %}" alt=""></label>
        </div>
      </div>    
    </div>
    
    <div class="marketingBlock">
    <img src="{% static 'img/irr_logo.svg' %}" alt="" style="margin-right: 12px; margin-top: 10px;">
    <div class="radio">
    <div class="form_radio_btn" onclick="">
	<input id="irr-basic" type="radio" name="irr-marketing" value="1">
	<label for="irr-basic"><img id="img-irr-pay" class="img-icon" src="{% static 'img/irr_pay.svg' %}" alt="" ></label>
        </div>
      </div>
      
    </div>
    
    <div class="marketingBlock">
    <img src="{% static 'img/domclick_logo.svg' %}" alt="" style="margin-right: 10px; margin-top: 10px;">
    <div class="radio">
    <div class="form_radio_btn" onclick="changeImgDomclickPay()">
	<input id="domclick-basic" type="radio" name="domclick-marketing" value="1">
	<label for="domclick-basic"><img id="domclick-pay-img" class="img-icon" src="{% static 'img/domclick_basic.svg' %}" alt="" ></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgDomclickExpress()">
	<input id="domclick-express" type="radio" name="domclick-marketing" value="2">
	<label for="domclick-express"><img id="domclick-express-img" class="img-icon" src="{% static 'img/domclick_express.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgDomclickPremium()">
	<input id="domclick-premium" type="radio" name="domclick-marketing" value="3">
	<label for="domclick-premium"><img id="domclick-premium-img" class="img-icon" src="{% static 'img/domclick_premium.svg' %}" alt="" ></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgDomclickTop()">
	<input id="domclick-top" type="radio" name="domclick-marketing" value="4">
	<label for="domclick-top"><img id="domclick-top-img" class="img-icon" src="{% static 'img/domclick_top.svg' %}" alt=""></label>
        </div>
      </div>
            
    </div>
    
    <div class="marketingBlock">
    <img src="{% static 'img/move_logo.svg' %}" alt="" style="margin-right: 10px; margin-top: 10px;">
    <div class="radio">
    <div class="form_radio_btn" onclick="changeImgMovePay()">
	<input id="move-pay" type="radio" name="move-marketing" value="1">
	<label for="move-pay"><img id="img-move-pay" class="img-icon" src="{% static 'img/move_pay.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgMoveUp()">
	<input id="move-up" type="radio" name="move-marketing" value="2">
	<label for="move-up"><img id="img-move-up" class="img-icon" src="{% static 'img/move_up.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgMovePremium()">
	<input id="move-premium" type="radio" name="move-marketing" value="3">
	<label for="move-premium"><img id="img-move-premium" class="img-icon" src="{% static 'img/move_premium.svg' %}" alt=""></label>
        </div>
    <div class="form_radio_btn" onclick="changeImgMoveFix()">
	<input id="move-fix" type="radio" name="move-marketing" value="4">
	<label for="move-fix"><img id="img-move-fix" class="img-icon" src="{% static 'img/move_fix.svg' %}" alt=""></label>
        </div>
      </div>    
    </div>  
    </div>
    
      
     </div>
      
</div>           
                   
<div id="object-filter-base-arrow" class="object-filter-additional-arrow"><div onclick="openFilterBlock()" id="arrow-down-block" ><img class="arrow-down" src="{% static 'img/arrow_down.svg' %}" alt="Еще фильтры" onmouseover="this.src='{% static 'img/arrow_down_hover.svg' %}'; mainfilterBlockHover();" onmouseout="this.src='{% static 'img/arrow_down.svg' %}'; mainfilterBlockOut();"></div></div>
 
<div id="object-filter-arrow-up" class="object-filter-additional-arrow"><div style="display: none" onclick="closeFilterBlock()" id="arrow-up-block" ><img class="arrow-up" src="{% static 'img/arrow_up.svg' %}" alt="Свернуть фильтры" onmouseover="this.src='{% static 'img/arrow_up_hover.svg' %}'; filterBlockHover();" onmouseout="this.src='{ static 'img/arrow_up.svg' %}'; filterBlockOut();"></div></div>
  
      
<div class="submit-reset-button">
    <button id="button1id" type="submit" class="button-submit" >Найти</button>
    <button id="button2id" type="reset" name="button2id" class="button-reset" onclick="defaultIcons()">Сбросить</button> 
  </div>        
         
        </form>
         
   
</div>
      
<div class="objects-container">
        
    <div class="realty-object">
           <div class="object-id object-style">
               <span class="object-span">001001</span>
           </div>
            <div class="deal-type object-style">
                <span class="object-span">A</span>
            </div>
            <div class="object-date object-style">
               <span class="object-span">22.10.21</span>
           </div>
            <div class="object-photo object-style">
                <img src="{% static 'img/object-photo-icon.svg' %}" alt="">
            </div>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color arbatsko-pokrovskaya"></span></div>
                <div class="metro-title"><span class="">Курская</span></div></div>
                <div class="metro-block"><div><span class="metro-color ring-line"></span></div>
                <div class="metro-title"><span class="">Курская</span></div></div>
                <div class="metro-block"><div><span class="metro-color lyublinskaya"></span></div>
                <div class="metro-title"><span class="">Чкаловская</span></div></div>

            </div>
            <div class="object-adress object-style">
                <span class="object-span">ул. Земляной вал, дом 34</span>
            </div>
            <div class="object-param object-style">
               <span class="object-span">2 ком. кв.</span>
                <span class="object-span">55/30/10 м2</span>
            </div>
            <div class="object-price object-style">
                <span class="object-span">150 000 р.</span>
                <span class="object-span">0 / 0 %</span>
            </div>
            <div class="phone-block object-style">
                <span class="owner-name object-span">Игорь</span>
                <span class="object-span">+7(968)777 55 43</span>
            </div>
            <div class="object-responsible-staffer object-style">
                <span class="object-span">Иванов И.И.</span>
            </div>
            <div class="object-marketing object-style">
               <span id="lnova-marketing" class="object-marketing-lnova oms"></span>
                <span id="cian-marketing" class="object-marketing-cian oms"></span>
                <span id="avito-marketing" class="without-marketing oms"></span>
                <span id="yandex-realty-marketing" class="object-marketing-yandex-realty oms"></span>
            </div>
            <div class="objects-work object-style">
               <div class="object-staff-work"><img src="{% static 'img/object-discount-price-bad.svg' %}" alt=""></div>
                <div class="object-staff-work"><img src="{% static 'img/object-comission-good.svg' %}" alt=""></div>
                <div class="object-staff-work"><img src="{% static 'img/object-add-photo-good.svg' %}" alt=""></div>
            </div>
            <div class="object-menu object-style">
               <img src="{% static 'img/menu-icon.svg' %}" alt="" onmouseover="this.src='{% static 'img/menu-icon_hover.svg' %}';" onmouseout="this.src='{% static 'img/menu-icon.svg' %}';">
            </div>
        </div>
   
    <div class="realty-object">
           <div class="object-id object-style">
               <span class="object-span">001002</span>
           </div>
            <div class="deal-type object-style">
                <span class="object-span">П</span>
            </div>
            <div class="object-date object-style">
               <span class="object-span">21.09.21</span>
           </div>
            <div class="object-photo object-style">
                <img src="img/add_photo.png" alt="">
            </div>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color kalininskaya"></span></div>
                <div class="metro-title"><span class="">Авиамоторная</span></div></div>
            </div>
            <div class="object-adress object-style">
                <span class="object-span">ул. Красноказарменная, дом 18</span>
            </div>
            <div class="object-param object-style">
               <span class="object-span">3 ком. кв.</span>
                <span class="object-span">85/60/10 м2</span>
            </div>
            <div class="object-price object-style">
                <span class="object-span">15 000 000 р.</span>
                <span class="object-span">4 %</span>
            </div>
            <div class="phone-block object-style">
                <span class="owner-name object-span">Олег</span>
                <span class="object-span">+7(968)787 99 75</span>
            </div>
            <div class="object-responsible-staffer object-style">
                <span class="object-span">Павлова А.А.</span>
            </div>
            <div class="object-marketing object-style">
               <span id="lnova-marketing" class="object-marketing-lnova oms"></span>
                <span id="cian-marketing" class="object-marketing-cian oms"></span>
                <span id="avito-marketing" class="object-marketing-avito oms"></span>
                <span id="yandex-realty-marketing" class="object-marketing-yandex-realty oms"></span>
            </div>
            <div class="objects-work object-style">
               <div class="object-staff-work"><img src="img/object-discount-price.png" alt=""></div>
                <div class="object-staff-work"><img src="img/object-comission-good.svg" alt=""></div>
                <div class="object-staff-work"><img src="img/object-add-photo-bad.svg" alt=""></div>
            </div>
            <div class="object-menu object-style">
               <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">
            </div>
        </div>
        
    <div class="realty-object">
           <div class="object-id object-style">
               <span class="object-span">001003</span>
           </div>
            <div class="deal-type object-style">
                <span class="object-span">A</span>
            </div>
            <div class="object-date object-style">
               <span class="object-span">19.10.21</span>
           </div>
            <div class="object-photo object-style">
                <img src="img/object-photo-icon.svg" alt="">
            </div>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color zamoskvoretskaya"></span></div>
                <div class="metro-title"><span class="">Павелецкая</span></div></div>
                <div class="metro-block"><div><span class="metro-color ring-line"></span></div>
                <div class="metro-title"><span class="">Павелецкая</span></div></div>

            </div>
            <div class="object-adress object-style">
                <span class="object-span">ул. Кожевническая, дом 23 </span>
            </div>
            <div class="object-param object-style">
               <span class="object-span">2 ком. кв.</span>
                <span class="object-span">45/25/6 м2</span>
            </div>
            <div class="object-price object-style">
                <span class="object-span">60 000 р.</span>
                <span class="object-span">50 / 50 %</span>
            </div>
            <div class="phone-block object-style">
                <span class="owner-name object-span">Иван Васильевич</span>
                <span class="object-span">+7(968)447 11 41</span>
            </div>
            <div class="object-responsible-staffer object-style">
                <span class="object-span">Копылова А.В.</span>
            </div>
            <div class="object-marketing object-style">
               <span id="lnova-marketing" class="object-marketing-lnova oms"></span>
                <span id="cian-marketing" class="object-marketing-cian oms"></span>
                <span id="avito-marketing" class="object-marketing-avito oms"></span>
                <span id="yandex-realty-marketing" class="object-marketing-yandex-realty oms"></span>
            </div>
            <div class="objects-work object-style">
               <div class="object-staff-work"><img src="img/object-discount-price-bad.svg" alt=""></div>
                <div class="object-staff-work"><img src="img/object-comission.svg" alt=""></div>
                <div class="object-staff-work"><img src="img/object-add-photo-good.svg" alt=""></div>
            </div>
            <div class="object-menu object-style">
               <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">
            </div>
        </div>
        
    <div class="realty-object">
           <div class="object-id object-style">
               <span class="object-span">001004</span>
           </div>
            <div class="deal-type object-style">
                <span class="object-span">П</span>
            </div>
            <div class="object-date object-style">
               <span class="object-span">11.10.21</span>
           </div>
            <div class="object-photo object-style">
                <img src="img/add_photo.png" alt="">
            </div>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color sokolnicheskaya"></span></div>
                <div class="metro-title"><span class="">Саларьево</span></div></div>
            </div>
            <div class="object-adress object-style">
                <span class="object-span">ул. Передельцевская, дом 21</span>
            </div>
            <div class="object-param object-style">
               <div><span class="object-span">Земля</span></div>
                <div><span class="object-span">20 сот.</span></div>
            </div>
            <div class="object-price object-style">
                <span class="object-span">83 000 000 р.</span>
                <span class="object-span">3 %</span>
            </div>
            <div class="phone-block object-style">
                <span class="owner-name object-span">Ангелина</span>
                <span class="object-span">+7(915)568 89 77</span>
            </div>
            <div class="object-responsible-staffer object-style">
                <span class="object-span">Михайлов А.П.</span>
            </div>
            <div class="object-marketing object-style">
               <span id="lnova-marketing" class="object-marketing-lnova oms"></span>
                <span id="cian-marketing" class="without-marketing oms"></span>
                <span id="avito-marketing" class="object-marketing-avito oms"></span>
                <span id="yandex-realty-marketing" class="object-marketing-yandex-realty oms"></span>
            </div>
            <div class="objects-work object-style">
               <div class="object-staff-work"><img src="img/object-discount-price-bad.svg" alt=""></div>
                <div class="object-staff-work"><img src="img/object-comission-good.svg" alt=""></div>
                <div class="object-staff-work"><img src="img/object-add-photo-bad.svg" alt=""></div>
            </div>
            <div class="object-menu object-style">
               <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">
            </div>
        </div>
        
    <div class="realty-object">
           <div class="object-id object-style">
               <span class="object-span">001005</span>
           </div>
            <div class="deal-type object-style">
                <span class="object-span">П</span>
            </div>
            <div class="object-date object-style">
               <span class="object-span">05.07.21</span>
           </div>
            <div class="object-photo object-style">
                <img src="img/object-photo-icon.svg" alt="">
            </div>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color tagansko-krasnopresnenskaya"></span></div>
                <div class="metro-title"><span class="">ул. 1905 года</span></div></div>
            </div>
            <div class="object-adress object-style">
                <span class="object-span">ул. Столярный переулок, дом 18</span>
            </div>
            <div class="object-param object-style">
               <span class="object-span">2 ком. кв.</span>
                <span class="object-span">55/30/10 м2</span>
            </div>
            <div class="object-price object-style">
                <span class="object-span">24 000 000 р.</span>
                <span class="object-span">2 %</span>
            </div>
            <div class="phone-block object-style">
                <span class="owner-name object-span">Анатолий Иванович</span>
                <span class="object-span">+7(966)777 88 99</span>
            </div>
            <div class="object-responsible-staffer object-style">
                <span class="object-span">Мозговой Д.В.</span>
            </div>
            <div class="object-marketing object-style">
               <span id="lnova-marketing" class="object-marketing-lnova oms"></span>
                <span id="cian-marketing" class="object-marketing-cian oms"></span>
                <span id="avito-marketing" class="object-marketing-avito oms"></span>
                <span id="yandex-realty-marketing" class="object-marketing-yandex-realty oms"></span>
            </div>
            <div class="objects-work object-style">
               <div class="object-staff-work"><img src="img/object-discount-price-bad.svg" alt=""></div>
                <div class="object-staff-work"><img src="img/object-comission-good.svg" alt=""></div>
                <div class="object-staff-work"><img src="img/object-add-photo-good.svg" alt=""></div>
            </div>
            <div class="object-menu object-style">
               <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">
            </div>
        </div>
        
    <div class="realty-object">
           <div class="object-id object-style">
               <span class="object-span">001006</span>
           </div>
            <div class="deal-type object-style">
                <span class="object-span">A</span>
            </div>
            <div class="object-date object-style">
               <span class="object-span">05.10.21</span>
           </div>
            <div class="object-photo object-style">
                <img src="img/object-photo-icon.svg" alt="">
            </div>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color tagansko-krasnopresnenskaya"></span></div>
                <div class="metro-title"><span class="">Китай-город</span></div></div>
                <div class="metro-block"><div><span class="metro-color kaluzhsko-rizhskaya"></span></div>
                <div class="metro-title"><span class="">Китай-город</span></div></div>
                <div class="metro-block"><div><span class="metro-color arbatsko-pokrovskaya"></span></div>
                <div class="metro-title"><span class="">Площадь революции</span></div></div>
            </div>
            <div class="object-adress object-style">
                <span class="object-span">ул. Ильинка, дом 4</span>
            </div>
            <div class="object-param object-style">
               <span class="object-span">Торг. площадь</span>
                <span class="object-span">400 м2</span>
            </div>
            <div class="object-price object-style">
                <span class="object-span">5 000 000 р.</span>
                <span class="object-span">99 / 0 %</span>
            </div>
            <div class="phone-block object-style">
                <span class="owner-name object-span">Вера Константиновна</span>
                <span class="object-span">+7(968)112 67 98</span>
            </div>
            <div class="object-responsible-staffer object-style">
                <span class="object-span">Кузнецова Г.О.</span>
            </div>
            <div class="object-marketing object-style">
               <span id="lnova-marketing" class="object-marketing-lnova oms"></span>
                <span id="cian-marketing" class="object-marketing-cian oms"></span>
                <span id="avito-marketing" class="without-marketing oms"></span>
                <span id="yandex-realty-marketing" class="object-marketing-yandex-realty oms"></span>
            </div>
            <div class="objects-work object-style">
               <div class="object-staff-work"><img src="img/object-discount-price-bad.svg" alt=""></div>
                <div class="object-staff-work"><img src="img/object-comission.png" alt=""></div>
                <div class="object-staff-work"><img src="img/object-add-photo.png" alt=""></div>
            </div>
            <div class="object-menu object-style">
               <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">
            </div>
        </div>
        
    <div class="realty-object">
           <div class="object-id object-style">
               <span class="object-span">001007</span>
           </div>
            <div class="deal-type object-style">
                <span class="object-span">A</span>
            </div>
            <div class="object-date object-style">
               <span class="object-span">22.10.21</span>
           </div>
            <div class="object-photo object-style">
                <img src="img/object-photo-icon.svg" alt="">
            </div>
            <div class="metro-item object-style">
                <div class="metro-block"><div><span class="metro-color kaluzhsko-rizhskaya"></span></div>
                <div class="metro-title"><span class="">Проспект мира</span></div></div>
                <div class="metro-block"><div><span class="metro-color ring-line"></span></div>
                <div class="metro-title"><span class="">Проспект мира</span></div></div>
            </div>
            <div class="object-adress object-style">
                <span class="object-span">ул. Проспект мира, дом 3</span>
            </div>
            <div class="object-param object-style">
               <span class="object-span">2 ком. кв.</span>
                <span class="object-span">50/30/10 м2</span>
            </div>
            <div class="object-price object-style">
                <span class="object-span">80 000 р.</span>
                <span class="object-span">0 / 0 %</span>
            </div>
            <div class="phone-block object-style">
                <span class="owner-name object-span">Виталий</span>
                <span class="object-span">+7(968)777 55 43</span>
            </div>
            <div class="object-responsible-staffer object-style">
                <span class="object-span">Головачева А.И.</span>
            </div>
            <div class="object-marketing object-style">
               <span id="lnova-marketing" class="object-marketing-lnova oms"></span>
                <span id="cian-marketing" class="object-marketing-cian oms"></span>
                <span id="avito-marketing" class="object-marketing-avito oms"></span>
                <span id="yandex-realty-marketing" class="without-marketing oms"></span>
            </div>
            <div class="objects-work object-style">
               <div class="object-staff-work"><img src="img/object-discount-price-bad.svg" alt=""></div>
                <div class="object-staff-work"><img src="img/object-comission-good.svg" alt=""></div>
                <div class="object-staff-work"><img src="img/object-add-photo-bad.svg" alt=""></div>
            </div>
            <div class="object-menu object-style">
               <img src="img/menu-icon.svg" alt="" onmouseover="this.src='img/menu-icon_hover.svg';" onmouseout="this.src='img/menu-icon.svg';">
            </div>
        </div>     
    
        
    </div>  
</div>
{% endblock workspase %}


{% block js %}
<script>

var residentalRealty = document.getElementById("residental-realty-block-add-client");
var comercialRealty = document.getElementById("comercial-realty-block-add-client");
var flatBlock = document.getElementById("flat-block-add-client");
var filterBlock = document.getElementById('object-filter-additional');
var arrowDown = document.getElementById('arrow-down-block');
var objectFilters = document.getElementById('object-filters');
var mainFilterBlock = document.getElementById('object-filter-base-arrow');
var arrowUp = document.getElementById('arrow-up-block');
var filterBlockArrow = document.getElementById('object-filter-arrow-up');
var imgCianPay = document.getElementById('img-cian-pay');
var imgCianPremium = document.getElementById('img-cian-premium');
var imgCianTop = document.getElementById('img-cian-top');
var imgCianAuction = document.getElementById('img-cian-auction');
var imgCianColor = document.getElementById('img-cian-color')
var imgLnovaBasic = document.getElementById('img-lnova-basic');
var imgLnovaTop = document.getElementById('img-lnova-top');
var imgAvitoPay = document.getElementById('avito-pay');
var imgAvitoX2 = document.getElementById('avito-x2-img'); 
var imgAvitoX5 = document.getElementById('avito-x5-img');
var imgAvitoX10 = document.getElementById('avito-x10-img');
var imgYandexPay = document.getElementById('img-yandex-pay');
var imgYandexUp = document.getElementById('img-yandex-up');
var imgYandexPremium = document.getElementById('img-yandex-premium');
var imgYandexTop = document.getElementById('img-yandex-top');
var cianAuctionChbx = document.getElementById('cian-auction-checkbox');
var cianColorChbx = document.getElementById('cian-color-checkbox');
var avitoXlChbx = document.getElementById('avito-xl-checkbox');
var avitoColorChbx = document.getElementById('avito-color-checkbox');
var avitoDomofondChbx = document.getElementById('avito-domofond-premium-checkbox');
var imgAvitoXl = document.getElementById('img-avito-xl');
var imgAvitoColor = document.getElementById('img-avito-color');
var imgAvitoDomofond = document.getElementById('img-avito-domofond');
var imgYoulaPay = document.getElementById('img-youla-basic');
var imgYoulaUp = document.getElementById('img-youla-up');
var imgYoulaTurbo = document.getElementById('img-youla-turbo');
var imgYoulaPremium = document.getElementById('img-youla-premium');
var imgYoulaMaximum = document.getElementById('img-youla-maximum');
var imgDomclickPay = document.getElementById('domclick-pay-img');
var imgDomclickExpress = document.getElementById('domclick-express-img');
var imgDomclickPremium = document.getElementById('domclick-premium-img');
var imgDomclickTop = document.getElementById('domclick-top-img');
var imgMovePay = document.getElementById('img-move-pay');
var imgMoveUp = document.getElementById('img-move-up');
var imgMovePremium = document.getElementById('img-move-premium');
var imgMoveFix = document.getElementById('img-move-fix');

    
function lnovaBasicImgChange() {
    imgLnovaBasic.src = '{% static 'img/avito_pay_click.svg' %}';
    imgLnovaTop.src = '{% static 'img/lnova_marketing_top.svg' %}';
}
  
function lnovaTopImgChange() {
    imgLnovaBasic.src = '{% static 'img/lnova_marketing.svg' %}';
    imgLnovaTop.src = '{% static 'img/lnova_marketing_top_click.svg' %}';
}

function avitoPayImgChange() {
    imgAvitoPay.src = '{% static 'img/avito_pay_click.svg' %}';
    imgAvitoX2.src = '{% static 'img/avitoX2.svg' %}';
    imgAvitoX5.src = '{% static 'img/avitoX5.svg' %}';
    imgAvitoX10.src = '{% static 'img/avitoX10.svg' %}';
}

function avitoX2ImgChange() {
    imgAvitoPay.src = '{% static 'img/avito_pay.svg' %}';
    imgAvitoX2.src = '{% static 'img/avitoX2_click.svg' %}';
    imgAvitoX5.src = '{% static 'img/avitoX5.svg' %}';
    imgAvitoX10.src = '{% static 'img/avitoX10.svg' %}';
}

function avitoX5ImgChange() {
    imgAvitoPay.src = '{% static 'img/avito_pay.svg' %}';
    imgAvitoX2.src = '{% static 'img/avitoX2.svg' %}';
    imgAvitoX5.src = '{% static 'img/avitoX5_click.svg' %}';
    imgAvitoX10.src = '{% static 'img/avitoX10.svg' %}';
}
    
function avitoX10ImgChange() {
    imgAvitoPay.src = '{% static 'img/avito_pay.svg' %}';
    imgAvitoX2.src = '{% static 'img/avitoX2.svg' %}';
    imgAvitoX5.src = '{% static 'img/avitoX5.svg' %}';
    imgAvitoX10.src = '{% static 'img/avitoX10_click.svg' %}';
}
    
function changeImgAvitoXl() {
    if(avitoXlChbx.checked) imgAvitoXl.src = '{% static 'img/avito_xl_click.svg' %}';
    else imgAvitoXl.src = '{% static 'img/avito_xl.svg' %}';
}

function changeImgAvitoColor() {
    if(avitoColorChbx.checked) imgAvitoColor.src = '{% static 'img/avito_color_click.svg' %}';
    else imgAvitoColor.src = '{% static 'img/avito_color.svg' %}';
}
    
function changeImgYoulaPay() {
    imgYoulaPay.src = '{% static 'img/avito_pay_click.svg' %}';
    imgYoulaUp.src = '{% static 'img/youla_up.svg' %}';
    imgYoulaTurbo.src = '{% static 'img/youla_turbo.svg' %}';
    imgYoulaPremium.src = '{% static 'img/youla_premium.svg' %}';
    imgYoulaMaximum.src = '{% static 'img/youla_maximum.svg' %}';
}
   
function changeImgYoulaUp() {
    imgYoulaPay.src = '{% static 'img/youla_basic.svg' %}';
    imgYoulaUp.src = '{% static 'img/youla_up_click.svg' %}';
    imgYoulaTurbo.src = '{% static 'img/youla_turbo.svg' %}';
    imgYoulaPremium.src = '{% static 'img/youla_premium.svg' %}';
    imgYoulaMaximum.src = '{% static 'img/youla_maximum.svg' %}';
}
    
function changeImgYoulaTurbo() {
    imgYoulaPay.src = '{% static 'img/youla_basic.svg' %}';
    imgYoulaUp.src = '{% static 'img/youla_up.svg' %}';
    imgYoulaTurbo.src = '{% static 'img/youla_turbo_click.svg' %}';
    imgYoulaPremium.src = '{% static 'img/youla_premium.svg' %}';
    imgYoulaMaximum.src = '{% static 'img/youla_maximum.svg' %}';
}
    
function changeImgYoulaPremium() {
    imgYoulaPay.src = '{% static 'img/youla_basic.svg' %}';
    imgYoulaUp.src = '{% static 'img/youla_up.svg' %}';
    imgYoulaTurbo.src = '{% static 'img/youla_turbo.svg' %}';
    imgYoulaPremium.src = '{% static 'img/youla_premium_click.svg' %}';
    imgYoulaMaximum.src = '{% static 'img/youla_maximum.svg' %}';
}
    
function changeImgYoulaMaximum() {
    imgYoulaPay.src = '{% static 'img/youla_basic.svg' %}';
    imgYoulaUp.src = '{% static 'img/youla_up.svg' %}';
    imgYoulaTurbo.src = '{% static 'img/youla_turbo.svg' %}';
    imgYoulaPremium.src = '{% static 'img/youla_premium.svg' %}';
    imgYoulaMaximum.src = '{% static 'img/youla_maximum_click.svg' %}';
}
    
function changeImgDomclickPay() {
    imgDomclickPay.src = '{% static 'img/avito_pay_click.svg' %}';
    imgDomclickExpress.src = '{% static 'img/domclick_express.svg' %}';
    imgDomclickPremium.src = '{% static 'img/domclick_premium.svg' %}';
    imgDomclickTop.src = '{% static 'img/domclick_top.svg' %}';
}
    
function changeImgDomclickExpress() {
    imgDomclickPay.src = '{% static 'img/domclick_basic.svg' %}';
    imgDomclickExpress.src = '{% static 'img/domclick_express_click.svg' %}';
    imgDomclickPremium.src = '{% static 'img/domclick_premium.svg' %}';
    imgDomclickTop.src = '{% static 'img/domclick_top.svg' %}';
}

function changeImgDomclickPremium() {
    imgDomclickPay.src = '{% static 'img/domclick_basic.svg' %}';
    imgDomclickExpress.src = '{% static 'img/domclick_express.svg' %}';
    imgDomclickPremium.src = '{% static 'img/domclick_premium_click.svg' %}';
    imgDomclickTop.src = '{% static 'img/domclick_top.svg' %}';
}
    
function changeImgDomclickTop() {
    imgDomclickPay.src = '{% static 'img/domclick_basic.svg' %}';
    imgDomclickExpress.src = '{% static 'img/domclick_express.svg' %}';
    imgDomclickPremium.src = '{% static 'img/domclick_premium.svg' %}';
    imgDomclickTop.src = '{% static 'img/domclick_top_click.svg' %}';
}
    
function changeImgMovePay() {
    imgMovePay.src = '{% static 'img/avito_pay_click.svg' %}';
    imgMoveUp.src = '{% static 'img/move_up.svg' %}';
    imgMovePremium.src = '{% static 'img/move_premium.svg' %}';
    imgMoveFix.src = '{% static 'img/move_fix.svg' %}';
}

function changeImgMoveUp() {
    imgMovePay.src = '{% static 'img/move_pay.svg' %}';
    imgMoveUp.src = '{% static 'img/move_up_click.svg' %}';
    imgMovePremium.src = '{% static 'img/move_premium.svg' %}';
    imgMoveFix.src = '{% static 'img/move_fix.svg' %}';
}
    
function changeImgMovePremium() {
    imgMovePay.src = '{% static 'img/move_pay.svg' %}';
    imgMoveUp.src = '{% static 'img/move_up.svg' %}';
    imgMovePremium.src = '{% static 'img/move_premium_click.svg' %}';
    imgMoveFix.src = '{% static 'img/move_fix.svg' %}';
}

function changeImgMoveFix() {
    imgMovePay.src = '{% static 'img/move_pay.svg' %}';
    imgMoveUp.src = '{% static 'img/move_up.svg' %}';
    imgMovePremium.src = '{% static 'img/move_premium.svg' %}';
    imgMoveFix.src = '{% static 'img/move_fix_click.svg' %}';
}
    
function changeImgAvitoDomofond() {
    if(avitoDomofondChbx.checked) imgAvitoDomofond.src = '{% static 'img/avito_domofond_premium_click.svg' %}';
    else imgAvitoDomofond.src = '{% static 'img/avito_domofond_premium.svg' %}';
}
    
function openComercialBlock() {
    residentalRealty.style.display = "none"
    comercialRealty.style.display = "inline-block"
    flatBlock.style.display = "none"

}

function openResidentalBlock() {
    residentalRealty.style.display = "inline-block"
    comercialRealty.style.display = "none"
    flatBlock.style.display = "block";
    document.getElementById('add-client-realty-house').checked = false;
    document.getElementById('add-client-realty-mansion').checked = false;
    document.getElementById('dd-client-realty-townhouse').checked = false;
    document.getElementById('add-client-realty-flat').checked = true;
    
} 

function openFilterBlock() {
        filterBlock.style.display = "flex";
        arrowDown.style.display = "none";
        objectFilters.style.height = "600px";
        mainFilterBlock.style.boxShadow = "none"
        arrowUp.style.display = "block"; 
    }

function openResidentalSuburbanBlock() {
        flatBlock.style.display = "none"
        suburbanBlock.style.display = "inline-block"
    }
    
function openResidentalFlatBlock() {
        flatBlock.style.display = "block"
    }
    
   
function mainfilterBlockHover() {
        mainFilterBlock.style.boxShadow = "0 10px 7px -7px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(0, 0, 0, 0.1)"
    }
    
function mainfilterBlockOut() {
        mainFilterBlock.style.boxShadow = "none"
    }
    
function closeFilterBlock() {
        filterBlock.style.display = "none";
        arrowUp.style.display = "none";
        arrowDown.style.display = "block";
        objectFilters.style.height = "300px";
    }
    
function filterBlockHover() {
        filterBlockArrow.style.boxShadow = "0 10px 7px -7px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(0, 0, 0, 0.1)"
    }
    
function filterBlockOut() {
        filterBlockArrow.style.boxShadow = "none"
    }
    
function changeImgCianPay() {
    imgCianPay.src = '{% static 'img/avito_pay_click.svg' %}';
    imgCianPremium.src = '{% static 'img/cian_premium.svg' %}';
    imgCianTop.src = '{% static 'img/cian_top.svg' %}';
}
     
function changeImgCianPremium() {
    imgCianPay.src = '{% static 'img/cian_pay.svg' %}';
    imgCianPremium.src = '{% static 'img/cian_premium_click.svg' %}';
    imgCianTop.src = '{% static 'img/cian_top.svg' %}';
}
    
function changeImgCianTop() {
    imgCianPay.src = '{% static 'img/cian_pay.svg' %}';
    imgCianPremium.src = '{% static 'img/cian_premium.svg' %}';
    imgCianTop.src = '{% static 'img/cian_top_click.svg' %}';
}
   
function changeImgCianAuction() {
    if(cianAuctionChbx.checked) imgCianAuction.src = '{% static 'img/cian_auction_click.svg' %}';
    else imgCianAuction.src = '{% static 'img/cian_auction.svg' %}';
}
    
function changeImgCianColor() {
    if(cianColorChbx.checked) imgCianColor.src = '{% static 'img/cian_color_click.svg' %}';
    else imgCianColor.src = '{% static 'img/cian_color.svg' %}';
}
   
    
function changeImgYandexPay() {
    imgYandexPay.src = '{% static 'img/avito_pay_click.svg' %}'
    imgYandexUp.src = '{% static 'img/yandex_up.svg' %}'
    imgYandexPremium.src = '{% static 'img/yandex_premium.svg' %}'
    imgYandexTop.src = '{% static 'img/yandex_top.svg' %}'
}
    
function changeImgYandexUp() {
    imgYandexPay.src = '{% static 'img/yandex_pay.svg' %}'
    imgYandexUp.src = '{% static 'img/yandex_up_click.svg' %}'
    imgYandexPremium.src = '{% static 'img/yandex_premium.svg' %}'
    imgYandexTop.src = '{% static 'img/yandex_top.svg' %}'

}
    
function changeImgYandexPremium() {
    imgYandexPay.src = '{% static 'img/yandex_pay.svg' %}'
    imgYandexUp.src = '{% static 'img/yandex_up.svg' %}'
    imgYandexPremium.src = '{% static 'img/yandex_premium_click.svg' %}'
    imgYandexTop.src = '{% static 'img/yandex_top.svg' %}'
}
    
function changeImgYandexTop() {
    imgYandexPay.src = '{% static 'img/yandex_pay.svg' %}'
    imgYandexUp.src = '{% static 'img/yandex_up.svg' %}'
    imgYandexPremium.src = '{% static 'img/yandex_premium.svg' %}'
    imgYandexTop.src = '{% static 'img/yandex_top_click.svg' %}'
}
    
    
function defaultIcons() {
    imgLnovaBasic.src = '{% static 'img/lnova_marketing.svg' %}';
    imgLnovaTop.src = '{% static 'img/lnova_marketing_top.svg' %}';
    imgAvitoPay.src = '{% static 'img/avito_pay.svg' %}';
    imgAvitoX2.src = '{% static 'img/avitoX2.svg' %}';
    imgAvitoX5.src = '{% static 'img/avitoX5.svg' %}';
    imgAvitoX10.src = '{% static 'img/avitoX10.svg' %}';
    imgCianPay.src = '{% static 'img/cian_pay.svg' %}';
    imgCianPremium.src = '{% static 'img/cian_premium.svg' %}';
    imgCianTop.src = '{% static 'img/cian_top.svg' %}';
    imgCianAuction.src = '{% static 'img/cian_auction.svg' %}';
    imgYandexPay.src = '{% static 'img/yandex_pay.svg' %}';
    imgYandexUp.src = '{% static 'img/yandex_up.svg' %}';
    imgYandexPremium.src = '{% static 'img/yandex_premium.svg' %}';
    imgYandexTop.src = '{% static 'img/yandex_top.svg' %}';
    imgAvitoXl.src = '{% static 'img/avito_xl.svg' %}';
    imgAvitoColor.src = '{% static 'img/avito_color.svg' %}';
    imgAvitoDomofond.src = '{% static 'img/avito_domofond_premium.svg' %}';
    imgCianAuction.src = '{% static 'img/cian_auction.svg' %}';
    imgCianColor.src = '{% static 'img/cian_color.svg' %}';
    imgYoulaPay.src = '{% static 'img/youla_basic.svg' %}';
    imgYoulaUp.src = '{% static 'img/youla_up.svg' %}';
    imgYoulaTurbo.src = '{% static 'img/youla_turbo.svg' %}';
    imgYoulaPremium.src = '{% static 'img/youla_premium.svg' %}';
    imgYoulaMaximum.src = '{% static 'img/youla_maximum.svg' %}';
    imgDomclickPay.src = '{% static 'img/domclick_basic.svg' %}';
    imgDomclickExpress.src = '{% static 'img/domclick_express.svg' %}';
    imgDomclickPremium.src = '{% static 'img/domclick_premium.svg' %}';
    imgDomclickTop.src = '{% static 'img/domclick_top.svg' %}';
    imgMovePay.src = '{% static 'img/move_pay.svg' %}';
    imgMoveUp.src = '{% static 'img/move_up.svg' %}';
    imgMovePremium.src = '{% static 'img/move_premium.svg' %}';
    imgMoveFix.src = '{% static 'img/move_fix.svg' %}';
}
</script>
{% endblock js %}