{% extends 'mainapp/base.html' %}
{% load static %}

{% block workspase %}
<div class="workspace-staff-list clearfix">
<div class="filter-staff">
        <div>
            <form action="">
        <select class="branch-staff-select" name="branch-staff-list">
            <option value="">Все отделения</option>
            <option value="1">Курская</option>
            <option value="2">Мытищи</option>
            <option value="3">Нахабино</option>
            <option value="4">Юго-западная</option>
            <option value="5">Парк победы</option>
            <option value="6">Домодедово</option>
            </select>
           
        <select class="branch-staff-select" name="department-staff-list">
            <option value="">Все отделы</option>
            <option value="1">Руководитель Павлова А.А.</option>
            <option value="2">Руководитель Мозговой Д.В.</option>
            </select>
                
        <select class="branch-staff-select" name="staff-status">
            <option value="">Статус</option>
            <option value="1">Стажер</option>
            <option value="2">Специалист</option>
            <option value="3">Ведущий специалист</option>
            <option value="4">Руководитель отдела</option>
            <option value="5">Руководитель отделения</option>
            <option value="6">Партнер</option>
            <option value="7">Админ</option>
            <option value="8">СЕО</option>
            </select>
            
            
  <div class="staff-filter-submit-reset">
    <button id="button-staff-filter-submit" type="submit" class="button-submit" >Найти</button>
    <button id="button-staff-filter-reset" type="reset" name="button2id" class="button-reset">Сбросить</button>  
  </div>
    
  

            </form>
        </div>
         <button class="add-staff" onclick="openAddStaffModal()">Добавить сотрудника</button>
     </div>
     
    <div id="AddStaffModal" class="modal">
        <div class="addStaffModal">
           <div class="addStaffBlockForm">
               <form action="">
               <label class="addStaffLabel" for="staff-name">Имя</label><br>
               <input class="addStaffInput" type="text" name="staff-name"><br>
               <label class="addStaffLabel" for="staff-surname">Фамилия</label><br>
               <input class="addStaffInput" type="text" name="staff-surname"><br>
               <label class="addStaffLabel" for="staff-date-of-birth">Дата рождения</label><br>
               <input class="addStaffInput" type="date" name="staff-date-of-birth"><br>
               <label class="addStaffLabel" for="staff-phone">Телефон</label><br>
               <input class="addStaffInput number-field-staff-phone" type="number" name="staff-phone"><br>
               <label class="addStaffLabel" for="staff-email">e-mail</label><br>
               <input class="addStaffInput" type="mail" name="staff-email"><br>
               <label class="addStaffLabel" for="staff-status">Статус</label><br>
               <select class="status-staff-select" name="staff-status">
            <option value="1">Стажер</option>
            <option value="2">Специалист</option>
            <option value="3">Ведущий специалист</option>
            <option value="4">Руководитель отдела</option>
            <option value="5">Руководитель отделения</option>
            <option value="6">Партнер</option>
            <option value="7">Админ</option>
                </select>
               <br>
               <div class="staff-add-buttons">
                 <button id="button-staff-filter-submit" type="submit" class="button-submit" >Добавить</button>
                <button id="button-staff-filter-reset" type="reset" name="button2id" class="button-reset">Сбросить</button>  
               </div>
               
               </form>
           </div>
           <div class="cl-btn" onclick="CloseAddStaffModal()"></div>
            </div>
            
          </div>
     
<div class="staff-container">
   <div class="staff-block">
            <div class="notice-style"><img src="{% static 'img/avatar.svg' %}" alt=""></div>
            <span class="notice-span staff-name">Иванов Иван Иванович</span>
            <span class="notice-span staff-date-of-birth">17.11.1988 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 87 65</span>
            <span class="notice-span mail-block">ivanov@lnova.ru</span>
            <div class="notice-style"><img src="{% static 'img/intern-logo.svg' %}" alt=""></div>
            <div class="notice-style staf-menu"><img src="{% static 'img/staff-menu.svg' %}" alt="" onmouseover="this.src='{% static 'img/staff-menu_hover.svg' %}';" onmouseout="this.src='{% static 'img/staff-menu.svg' %}'"></div>
        </div>
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Кутузов Александр Константинович</span>
            <span class="notice-span staff-date-of-birth">17.12.2001 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 87 65</span>
            <span class="notice-span mail-block">akutuzov@lnova.ru</span>
            <div class="notice-style"><img src="img/staff-logo.svg" alt=""></div>
            <div class="notice-style staf-menu"><img src="img/staff-menu.svg" alt="" onmouseover="this.src='img/staff-menu_hover.svg';" onmouseout="this.src='img/staff-menu.svg'"></div>
        </div>
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Павлова Анастасия Александровна</span>
            <span class="notice-span staff-date-of-birth">01.01.1990 г.р.</span>
            <span class="notice-span phone-block">+7(965) 171 08 56</span>
            <span class="notice-span mail-block">apavlova@lnova.ru</span>
            <div class="notice-style"><img src="img/expert-logo.svg" alt=""></div>
            <div class="notice-style staf-menu"><img src="img/staff-menu.svg" alt="" onmouseover="this.src='img/staff-menu_hover.svg';" onmouseout="this.src='img/staff-menu.svg'"></div>
        </div>        
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Иванов Иван Иванович</span>
            <span class="notice-span staff-date-of-birth">17.11.1988 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 87 65</span>
            <span class="notice-span mail-block">ivanov@lnova.ru</span>
            <div class="notice-style"><img src="img/manager-logo.svg" alt=""></div>
            <div class="notice-style staf-menu"><img src="img/staff-menu.svg" alt="" onmouseover="this.src='img/staff-menu_hover.svg';" onmouseout="this.src='img/staff-menu.svg'"></div>
        </div>        
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Копылова Александра Васильевна</span>
            <span class="notice-span staff-date-of-birth">17.11.1988 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 87 65</span>
            <span class="notice-span mail-block">ivanov@lnova.ru</span>
            <div class="notice-style"><img src="img/branch-manager-logo.svg" alt=""></div>
            <div class="notice-style staf-menu"><img src="img/staff-menu.svg" alt="" onmouseover="this.src='img/staff-menu_hover.svg';" onmouseout="this.src='img/staff-menu.svg'"></div>
        </div>
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Иванов Иван Иванович</span>
            <span class="notice-span staff-date-of-birth">17.11.1988 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 87 65</span>
            <span class="notice-span mail-block">ivanov@lnova.ru</span>
            <div class="notice-style"><img src="img/partner-logo.svg" alt=""></div>
            <div class="notice-style staf-menu"><img src="img/staff-menu.svg" alt="" onmouseover="this.src='img/staff-menu_hover.svg';" onmouseout="this.src='img/staff-menu.svg'"></div>
        </div> 
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Михайлов Антон Павлович</span>
            <span class="notice-span staff-date-of-birth">14.02.1988 г.р.</span>
            <span class="notice-span phone-block">+7(915) 000 15 17</span>
            <span class="notice-span mail-block">mihailov@lnova.ru</span>
            <div class="notice-style"><img src="img/admin-logo.svg" alt=""></div>
            <div class="notice-style staf-menu"><img src="img/staff-menu.svg" alt="" onmouseover="this.src='img/staff-menu_hover.svg';" onmouseout="this.src='img/staff-menu.svg'"></div>
        </div>       
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Кустов Станислав Александрович</span>
            <span class="notice-span staff-date-of-birth">17.07.1991 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 86 85</span>
            <span class="notice-span mail-block">skustov@lnova.ru</span>
            <div class="notice-style"><img src="img/ceo-logo.svg" alt=""></div>
            <div class="notice-style staf-menu"><img src="img/staff-menu.svg" alt="" onmouseover="this.src='img/staff-menu_hover.svg';" onmouseout="this.src='img/staff-menu.svg'"></div>
        </div> 
</div>

<div class="before-footer"></div>
</div>
{% endblock workspase %}


{% block js %}

<script>
var addStaffModal = document.getElementById("AddStaffModal")

function openAddStaffModal() {
    addStaffModal.style.display = "block"
}

function CloseAddStaffModal() {
    addStaffModal.style.display = "none"
}
    </script>
{% endblock js %}