{% extends 'mainapp/base.html' %}
{% load static %}


{% block workspase %}
<div class="workspace2 clearfix">
       <div class="staff-profile">
           <div class="staff-profile-header">
           <span class="staff-profile-header-text">Иванова Василиса Петровна</span>
           <div class="staff-profile-status">
               <span class="staff-status">Специалист</span>
               <img src="{% static 'img/staff-logo.svg' %}" alt="">
           </div>
       </div>
       
       <div class="profile-base-info">
           <div class="profile-photo">
               <img src="{% static 'img/profile-photo.svg' %}" alt="">
               </div>
            <div clss="profile-info-text">
               <div class="profile-info-text-block">
                <span class="profile-text-lil">Дата рождения:</span><br>
                <span class="profile-text-big">22.11.1988 г.р.</span><br>
                   </div>
                <div class="profile-info-text-block">
                <span class="profile-text-lil">Телефон:</span><br>
                <span class="profile-text-big">+7 (968) 777 44 33</span><br>  
                   </div>
                <div class="profile-info-text-block">
                <span class="profile-text-lil">e-mail:</span><br>
                <span class="profile-text-big">ivanova@lnova.ru</span><br> 
                   </div>
                <div class="profile-info-text-block">
                <span class="profile-text-lil">О себе:</span><br>
                <span class="profile-text-big">Люблю читать и слушать хорошую музыку.</span><br>  
                   </div>
               </div>
           <div class="profile-menu">
               <img onmouseover="this.src='{% static 'img/staff-menu_hover.svg' %}';" onmouseout="this.src='{% static 'img/staff-menu.svg' %}'" src="{% static 'img/staff-menu.svg' %}" alt="">
               </div>
       </div>
       
       <div class="profile-personal-rewards-text"><span class="profile-text-big">Награды:</span></div>
       
       <div class="profile-personal-rewards">
           <div class="reward-item"><img src="{% static 'img/icon50.svg' %}" alt=""></div>
           <div class="reward-item"><img src="{% static 'img/heart.svg' %}" alt=""></div>
           <div class="reward-item"><img src="{% static 'img/gold-medal%201.svg' %}" alt=""></div>
       </div>
       
       </div>
       
    </div>
{% endblock workspase %}
