{% extends 'mainapp/base.html' %}
{% load static %}
    
{% block workspase %}
<div class="workspace clearfix">
        <div class="block" onmouseover="blockSalesFunelHover()" onmouseout="blockSalesFunelOut()"><a href="#" class="block-icon"><img class="block-img" id="sales_funel_img" src="{% static 'img/sales_funnel.png' %}"  alt="Воронка продаж"></a><p class="block-text" id="sales_funel_text">Воронка продаж</p></div>
        <div class="block" onmouseover="blockPersonalResultsHover()" onmouseout="blockPersonalResultsOut()"><a href="#" class="block-icon"><img class="block-img" id="personal_results_img" src="{% static 'img/personal_results.png' %}"  alt="Личные достижения"></a><p class="block-text" id="personal_results_text">Личные достижения</p></div>
        <div class="block" onmouseover="blockCompanyResultsHover()" onmouseout="blockCompanyResultsOut()"><a href="#" class="block-icon"><img class="block-img" id="company_results_img" src="{% static 'img/company_results.png' %}"  alt="Результаты компании"></a><p class="block-text" id="company_results_text">Результаты компании</p></div>
        <div class="clr2 clearfix"></div>
    </div>
{% endblock workspase %}

{% block js %}

<script>
var block_img_sales_funel = document.getElementById("sales_funel_img");
var block_img_personal_results = document.getElementById("personal_results_img");
var block_img_company_results = document.getElementById("company_results_img");
    
var block_text_sales_funel = document.getElementById("sales_funel_text");
var block_text_personal_results = document.getElementById("personal_results_text");
var block_text_company_results = document.getElementById("company_results_text"); 
    
 function blockSalesFunelHover() {
    block_img_sales_funel.src = '{% static 'img/sales_funnel_hover.png' %}'
    block_text_sales_funel.style.color = "#3E8CE0"
 };
    
function blockSalesFunelOut() {
    block_img_sales_funel.src = '{% static 'img/sales_funnel.png' %}'
    block_text_sales_funel.style.color = "white"
 }; 
    
 function blockPersonalResultsHover() {
    block_img_personal_results.src = '{% static 'img/personal_results_hover.png' %}'
    block_text_personal_results.style.color = "#3E8CE0"
 };
    
function blockPersonalResultsOut() {
    block_img_personal_results.src = '{% static 'img/personal_results.png' %}'
    block_text_personal_results.style.color = "white"
 };    

function blockCompanyResultsHover() {
    block_img_company_results.src = '{% static 'img/company_results_hover.png' %}'
    block_text_company_results.style.color = "#3E8CE0"
 };
    
function blockCompanyResultsOut() {
    block_img_company_results.src = '{% static 'img/company_results.png' %}'
    block_text_company_results.style.color = "white"
 };  
    
</script>
{% endblock js %}