{% extends 'mainapp/base.html' %}
{% load static %}


{% block workspase %}
<div class="workspace2 clearfix">
        <div class="people-buttons">
        <button class="clients-team-buttons" onclick="location.href='{% url 'clients' %}';">Клиенты</button>
        <button class="clients-team-button-active" >Команда</button>
      </div>
      
      <div class="filter-staff">
        <div class="team-filter">
            <form action="" class="team-form">
        <select class="branch-staff-select" name="branch-staff-list">
            <option value="">Все отделения</option>
            <option value="1">Курская</option>
            <option value="2">Мытищи</option>
            <option value="3">Нахабино</option>
            <option value="4">Юго-западная</option>
            <option value="5">Парк победы</option>
            <option value="6">Домодедово</option>
            </select>
           
           <select class="branch-staff-select" name="department-staff-list">
            <option value="">Все отделы</option>
            <option value="1">Руководитель Павлова А.А.</option>
            <option value="2">Руководитель Мозговой Д.В.</option>
            </select>
            
            <select class="branch-staff-select" name="staff-status">
            <option value="">Статус</option>
            <option value="1">Стажер</option>
            <option value="2">Специалист</option>
            <option value="3">Ведущий специалист</option>
            <option value="4">Руководитель отдела</option>
            <option value="5">Руководитель отделения</option>
            <option value="6">Партнер</option>
            <option value="7">Админ</option>
            <option value="8">СЕО</option>
            </select>
            
  <div class="staff-filter-submit-reset float-right">
    <button id="button-staff-filter-submit" type="submit" class="button-submit" >Найти</button>
    <button id="button-staff-filter-reset" type="reset" name="button2id" class="button-reset">Сбросить</button>  
  </div>
            </form>
        </div>
     </div>
     
    
<div class="team-container">
<div class="staff-block">
            <div class="notice-style"><img src="{% static 'img/avatar.svg' %}" alt=""></div>
            <span class="notice-span staff-name">Александров Петр Михайлович</span>
            <span class="notice-span staff-date-of-birth">20.11.1988 г.р.</span>
            <span class="notice-span phone-block">+7(999) 712 87 65</span>
            <span class="notice-span mail-block">aleksandrov@lnova.ru</span>
            <div class="notice-style"><img src="{% static 'img/staff-logo.svg' %}" alt=""></div>
            <div class="staff-rewards-count"><img src="{% static 'img/team-rewards-icon.svg' %}" alt=""><sapn class="staff-rewards-count-text">8</sapn></div>
        </div>
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Иванов Иван Иванович</span>
            <span class="notice-span staff-date-of-birth">17.11.1988 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 87 65</span>
            <span class="notice-span mail-block">ivanov@lnova.ru</span>
            <div class="notice-style"><img src="img/expert-logo.svg" alt=""></div>
            <div class="staff-rewards-count"><img src="img/team-rewards-icon.svg" alt=""><sapn class="staff-rewards-count-text">4</sapn></div>
        </div>        
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Михайлов Евгений Константинович</span>
            <span class="notice-span staff-date-of-birth">17.11.1988 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 87 65</span>
            <span class="notice-span mail-block">ivanov@lnova.ru</span>
            <div class="notice-style"><img src="img/manager-logo.svg" alt=""></div>
            <div class="staff-rewards-count"><img src="img/team-rewards-icon.svg" alt=""><sapn class="staff-rewards-count-text">18</sapn></div>
        </div>        
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Понамарева Елизавета Витальевна</span>
            <span class="notice-span staff-date-of-birth">17.11.1988 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 87 65</span>
            <span class="notice-span mail-block">ivanov@lnova.ru</span>
            <div class="notice-style"><img src="img/branch-manager-logo.svg" alt=""></div>
            <div class="staff-rewards-count"><img src="img/team-rewards-icon.svg" alt=""><sapn class="staff-rewards-count-text">54</sapn></div>
        </div>
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Иванов Иван Иванович</span>
            <span class="notice-span staff-date-of-birth">17.11.1988 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 87 65</span>
            <span class="notice-span mail-block">ivanov@lnova.ru</span>
            <div class="notice-style"><img src="img/partner-logo.svg" alt=""></div>
            <div class="staff-rewards-count"><img src="img/team-rewards-icon.svg" alt=""><sapn class="staff-rewards-count-text">17</sapn></div>
        </div> 
<div class="staff-block">
            <div class="notice-style"><img src="img/avatar.svg" alt=""></div>
            <span class="notice-span staff-name">Иванов Иван Иванович</span>
            <span class="notice-span staff-date-of-birth">17.11.1988 г.р.</span>
            <span class="notice-span phone-block">+7(968) 712 87 65</span>
            <span class="notice-span mail-block">ivanov@lnova.ru</span>
            <div class="notice-style"><img src="img/admin-logo.svg" alt=""></div>
            <div class="staff-rewards-count"><img src="img/team-rewards-icon.svg" alt=""><sapn class="staff-rewards-count-text">101</sapn></div>
        </div>
    
</div>

      
<div class="before-footer">      
      </div> 
</div>
{% endblock workspase %}
